<br>
<br>
<br>
# 연관규칙분석 - 공생앱과 경쟁앱
<br>

---

In [5]:
import pandas as pd
import numpy as np
pd.set_option('max_columns',50)
pd.set_option('max_rows',100)

import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.font_manager as fm
import seaborn as sns
sns.set() 
%matplotlib inline 
%config InlineBackend.figure_format = 'retina' 
sns.set_style(style='white')
sns.set_context(context ='paper')

import datetime
import os

In [6]:
DA_Location = pd.read_csv('DA_target_location.csv')
DA_App = pd.read_csv('DA_target_app.csv')
DA_PS = pd.read_csv('DA_target_PS.csv')

AR_App = pd.read_csv('AR_target_app.csv')

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (464,901,903,907,916,918,920,922,924,926,928,931,947) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
DA_Location.head()

,pid,Location_CU,Location_GS25,Location_KFC,Location_THE FACE SHOP,Location_UNIQLO,Location_다이소,Location_던킨도너츠,Location_뚜레쥬르,Location_롯데리아,Location_맘스터치,Location_매표소/로비/휴게소,Location_맥도날드,Location_배스킨라빈스,Location_버거킹,Location_분당선,Location_빽다방,Location_서울5호선,Location_설빙,Location_세븐일레븐,Location_스타벅스,Location_엔제리너스,Location_올리브영,Location_이디야,Location_투썸플레이스,...,Location_Drug Store,Location_Others(Bakery/Dessert),Location_Others(Others),Location_Bookstore,Location_Bar,Location_Dental Clinic,Location_Stationery Shop,Location_Real Estate Agency,Location_Shoe Store,Location_Electronics Shop,Location_General Hospital,Location_Pizza,Location_Karaoke,Location_Main_city,Location_City_count,Location_floor,Location_lat,Location_lng,Location_count,Location_min,Location_max,Location_diff,Location_min_month,Location_max_month,Location_count_diff_ratio
0,A0002542,5.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,경기,2.0,0.541667,37.468860,127.091184,24.0,2018-05-29,2018-06-29,31.0,2018-05,2018-06,0.800000
1,A0003204,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,인천,3.0,0.727273,37.480777,126.726113,22.0,2018-05-01,2018-07-01,61.0,2018-05,2018-07,0.400000
2,A0003696,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,서울,1.0,1.000000,37.606263,127.031478,2.0,2018-05-30,2018-05-30,0.0,2018-05,2018-05,inf
3,A0003768,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,경기,1.0,2.277778,37.265267,127.050818,18.0,2018-05-01,2018-06-24,54.0,2018-05,2018-06,0.300000
4,A0008228,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,대전,2.0,-0.062500,36.485481,127.318642,16.0,2018-05-04,2018-07-01,58.0,2018-05,2018-07,0.300000

In [8]:
del DA_Location['Location_min']
del DA_Location['Location_max']
del DA_Location['Location_min_month']
del DA_Location['Location_max_month']

DA_main_city = pd.get_dummies(DA_Location['Location_Main_city'], prefix='Location_')

DA_Location = pd.concat([DA_Location,DA_main_city], axis=1)
del DA_Location['Location_Main_city']

In [9]:
new_columns = ['pid']

for col in DA_App.columns[1:] :
    new_col = "App_" + col
    new_columns.append(new_col)
    
DA_App.columns = new_columns

In [10]:
# 범주형 변수 없음

DA_App.head()

,pid,App_app_counted,App_app_count_mean,App_app_counted_gap,App_total_usage_time,App_N,App_건강/운동,App_교육,App_금융,App_날씨,App_뉴스/잡지,App_단어,App_데이트,App_도구,App_도서/참고자료,App_동영상 플레이어/편집기,App_라이브러리/데모,App_라이프스타일,App_롤플레잉,App_만화,App_맞춤 설정,App_보드,App_부동산/홈 인테리어,App_뷰티,App_비즈니스,...,App_틸리언,App_패널나우,App_패널락,App_패널파워,App_포토,App_핀크,App_핑크다이어리,App_하나1Q페이,App_하나멤버스,App_하나카드,App_하이마트,App_한컴오피스 viewer,App_해피머니,App_해피스크린,App_해피포인트,App_허니스크린,App_현대Hmall,App_현대카드,App_현대해상,App_홈&쇼핑,App_홈쇼핑모아,App_홈플러스,App_화해,App_후스콜,App_후후
0,A0002542,52,36.9,10.0,77.487152,22.0,0.0,0.0,91.0,0.0,2.0,0.0,0.0,35.0,0.0,10.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,...,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
1,A0003204,59,30.2,20.0,157.791687,3.0,13.0,0.0,45.0,0.0,0.0,0.0,0.0,18.0,11.0,18.0,0.0,29.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0
2,A0003696,113,70.5,40.0,85.990252,10.0,0.0,34.0,71.0,12.0,10.0,0.0,0.0,50.0,34.0,11.0,0.0,171.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,10.0,0.0,0.0,6.0,7.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0
3,A0003768,74,28.5,40.0,51.288383,1.0,1.0,0.0,55.0,0.0,0.0,0.0,0.0,18.0,0.0,1.0,0.0,64.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,7.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0
4,A0008228,98,53.9,40.0,243.321904,16.0,0.0,4.0,59.0,0.0,0.0,0.0,0.0,27.0,65.0,10.0,0.0,137.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,...,0.0,6.0,6.0,9.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,9.0,10.0,0.0,0.0,0.0,0.0

In [11]:
del DA_PS['Unnamed: 0']

new_columns = ['pid']

for col in DA_PS.columns[1:] :
    new_col = "PS_" + col
    new_columns.append(new_col)
    
DA_PS.columns = new_columns

In [12]:
# 컬럼 수가 너무 많은거같은데 필요한 컬럼만 남기고 좀 줄여줘도 좋을것같음!

DA_PS.head()

,pid,PS_Ins_date,PS_BirthYear,PS_wedding,PS_sido,PS_area_group,PS_ps_banner,PS_sex,PS_v54_1,PS_v54_2,PS_v54_3,PS_v54_4,PS_v54_5,PS_v54_6,PS_v60,PS_v61_1,PS_v61_2,PS_v61_3,PS_v61_4,PS_v61_5,PS_v61_6,PS_v61_7,PS_v61_8,PS_v61_9,PS_v61_10,...,PS_v33,PS_v34,PS_v35,PS_v36,PS_v37,PS_v38,PS_v39,PS_v40,PS_v41,PS_v42,PS_v43,PS_v44,PS_v45_1,PS_v45_2,PS_v45_3,PS_v45_4,PS_v45_5,PS_v45_6,PS_v45_7,PS_v45_8,PS_v45_9,PS_v45_10,PS_v45_11,PS_v45_99,PS_v46
0,A0000910,2017-05-03 14:44:51.387,1968,1,8,1,NaN,1,NaN,NaN,NaN,1.0,1.0,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,NaN,3.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A0001355,2017-05-18 17:24:50.343,1973,2,1,1,NaN,2,NaN,NaN,NaN,NaN,NaN,1.0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A0002394,2017-09-12 17:26:11.730,1958,1,1,1,1.0,2,NaN,NaN,NaN,NaN,NaN,NaN,1,1.0,NaN,3.0,4.0,NaN,NaN,NaN,8.0,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A0002542,2017-04-26 17:21:08.350,1968,1,8,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A0003204,2018-02-19 21:12:07.370,1979,1,4,1,NaN,2,NaN,NaN,NaN,1.0,NaN,NaN,1,1.0,NaN,3.0,4.0,5.0,6.0,NaN,8.0,9.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
DA_PS = DA_PS[['pid',
 'PS_Ins_date',
 'PS_BirthYear',
 'PS_wedding',
 'PS_sido',
 'PS_area_group',
 'PS_ps_banner',
 'PS_sex','PS_phone_type',
 'PS_phone_buy_year',
 'PS_phone_buy_month',
 'PS_phone_company',
 'PS_phone_samsung',
 'PS_phone_lg',
 'PS_phone_apple',
 'PS_income',
 'PS_home_form',
 'PS_home_own',
 'PS_education',
 'PS_family_female',
 'PS_famile_male',
 'PS_family_00s',
 'PS_family_10s',
 'PS_family_20s',
 'PS_family_30s',
 'PS_family_40s',
 'PS_family_50s',
 'PS_family_60s',
 'PS_family_70s',
 'PS_age',
 'PS_ins_year',
 'PS_ins_month',
 'PS_ins_day',
 'PS_full_date',
 'PS_family_num']]

del DA_PS['PS_Ins_date']
del DA_PS['PS_full_date']

In [14]:
DA_PS.head()

,pid,PS_BirthYear,PS_wedding,PS_sido,PS_area_group,PS_ps_banner,PS_sex,PS_phone_type,PS_phone_buy_year,PS_phone_buy_month,PS_phone_company,PS_phone_samsung,PS_phone_lg,PS_phone_apple,PS_income,PS_home_form,PS_home_own,PS_education,PS_family_female,PS_famile_male,PS_family_00s,PS_family_10s,PS_family_20s,PS_family_30s,PS_family_40s,PS_family_50s,PS_family_60s,PS_family_70s,PS_age,PS_ins_year,PS_ins_month,PS_ins_day,PS_family_num
0,A0000910,1968,1,8,1,NaN,1,2,2014.0,9.0,1.0,97.0,NaN,NaN,4,2.0,1,4.0,4,0,0,1,2,0,0,1,0,4,51.0,2017,5,3,4
1,A0001355,1973,2,1,1,NaN,2,2,2016.0,8.0,2.0,NaN,13.0,NaN,4,5.0,1,4.0,2,2,0,0,0,0,2,0,0,4,46.0,2017,5,18,4
2,A0002394,1958,1,1,1,1.0,2,2,2016.0,8.0,1.0,12.0,NaN,NaN,6,2.0,1,2.0,0,2,0,0,0,1,0,0,1,1,61.0,2017,9,12,2
3,A0002542,1968,1,8,1,NaN,1,2,2016.0,2.0,1.0,97.0,NaN,NaN,4,2.0,1,4.0,2,1,0,0,2,0,1,0,0,3,51.0,2017,4,26,3
4,A0003204,1979,1,4,1,NaN,2,2,2016.0,11.0,1.0,11.0,NaN,NaN,3,4.0,3,2.0,0,2,0,1,0,0,1,0,0,2,40.0,2018,2,19,2

In [15]:
DA_final = (
DA_Location.merge(DA_App, how='left', on='pid')
    .merge(DA_PS, how='left', on='pid')
)

In [16]:
# 분류기 만들때 쓸 변수들!
# 여기에 목적 앱 바이너리 컬럼을 붙이고, 그걸 이 데이터를 통해 맞추는 식으로 하면 된다!
# app 변수 목록에 타겟 앱이 없도록 주의!
# 예륻 들어 스타벅스의 경우 app_스타벅스를 빼고, AR_App의 스타벅스 컬럼을 타겟으로 분류기 만들면 됨

DA_final.head()

,pid,Location_CU,Location_GS25,Location_KFC,Location_THE FACE SHOP,Location_UNIQLO,Location_다이소,Location_던킨도너츠,Location_뚜레쥬르,Location_롯데리아,Location_맘스터치,Location_매표소/로비/휴게소,Location_맥도날드,Location_배스킨라빈스,Location_버거킹,Location_분당선,Location_빽다방,Location_서울5호선,Location_설빙,Location_세븐일레븐,Location_스타벅스,Location_엔제리너스,Location_올리브영,Location_이디야,Location_투썸플레이스,...,PS_phone_buy_year,PS_phone_buy_month,PS_phone_company,PS_phone_samsung,PS_phone_lg,PS_phone_apple,PS_income,PS_home_form,PS_home_own,PS_education,PS_family_female,PS_famile_male,PS_family_00s,PS_family_10s,PS_family_20s,PS_family_30s,PS_family_40s,PS_family_50s,PS_family_60s,PS_family_70s,PS_age,PS_ins_year,PS_ins_month,PS_ins_day,PS_family_num
0,A0002542,5.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2016.0,2.0,1.0,97.0,NaN,NaN,4,2.0,1,4.0,2,1,0,0,2,0,1,0,0,3,51.0,2017,4,26,3
1,A0003204,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2016.0,11.0,1.0,11.0,NaN,NaN,3,4.0,3,2.0,0,2,0,1,0,0,1,0,0,2,40.0,2018,2,19,2
2,A0003696,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2017.0,8.0,1.0,17.0,NaN,NaN,3,5.0,1,4.0,0,3,0,2,0,0,1,0,0,3,46.0,2017,9,7,3
3,A0003768,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,2015.0,12.0,1.0,11.0,NaN,NaN,4,2.0,1,4.0,1,2,2,0,0,0,1,0,0,3,39.0,2018,1,11,3
4,A0008228,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,2013.0,4.0,1.0,18.0,NaN,NaN,4,2.0,1,4.0,1,1,0,0,1,0,0,0,1,1,61.0,2018,5,4,2

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

In [17]:
freq_books = AR_App[['panel_id','알라딘','예스24 도서']]

In [18]:
freq_books.head()

   panel_id  알라딘  예스24 도서
0  A0002542  0.0      0.0
1  A0003204  0.0      0.0
2  A0003696  0.0      1.0
3  A0003768  0.0      0.0
4  A0008228  0.0      0.0

In [20]:
# 이미 알지만 freq check

freq_books.sum()

panel_id    A0002542A0003204A0003696A0003768A0008228A00091...
알라딘                                                       563
예스24 도서                                                  1094
dtype: object

In [21]:
freq_books['둘다'] = (freq_books['알라딘'] + freq_books['예스24 도서']).map(lambda x: 0 if x<2 else 1)
freq_books['예스24만'] = (freq_books['예스24 도서'] - freq_books['둘다']).map(lambda x: 0 if x<1 else 2)
freq_books['알라딘만'] = (freq_books['알라딘'] - freq_books['둘다']).map(lambda x: 0 if x<1 else 3)
freq_books['books_target'] = (freq_books['둘다'] + freq_books['예스24만'] + freq_books['알라딘만'])

freq_books = freq_books[['panel_id', 'books_target']]

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [34]:
del DA_final['App_알라딘']
del DA_final['App_예스24 도서']

In [35]:
DA_books = freq_books.merge(DA_final, how='left', left_on='panel_id', right_on='pid')

In [37]:
del DA_books['panel_id']
del DA_books['pid']

In [38]:
DA_books.head()

,books_target,Location_CU,Location_GS25,Location_KFC,Location_THE FACE SHOP,Location_UNIQLO,Location_다이소,Location_던킨도너츠,Location_뚜레쥬르,Location_롯데리아,Location_맘스터치,Location_매표소/로비/휴게소,Location_맥도날드,Location_배스킨라빈스,Location_버거킹,Location_분당선,Location_빽다방,Location_서울5호선,Location_설빙,Location_세븐일레븐,Location_스타벅스,Location_엔제리너스,Location_올리브영,Location_이디야,Location_투썸플레이스,...,PS_phone_buy_year,PS_phone_buy_month,PS_phone_company,PS_phone_samsung,PS_phone_lg,PS_phone_apple,PS_income,PS_home_form,PS_home_own,PS_education,PS_family_female,PS_famile_male,PS_family_00s,PS_family_10s,PS_family_20s,PS_family_30s,PS_family_40s,PS_family_50s,PS_family_60s,PS_family_70s,PS_age,PS_ins_year,PS_ins_month,PS_ins_day,PS_family_num
0,0,5.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2016.0,2.0,1.0,97.0,NaN,NaN,4,2.0,1,4.0,2,1,0,0,2,0,1,0,0,3,51.0,2017,4,26,3
1,0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2016.0,11.0,1.0,11.0,NaN,NaN,3,4.0,3,2.0,0,2,0,1,0,0,1,0,0,2,40.0,2018,2,19,2
2,2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2017.0,8.0,1.0,17.0,NaN,NaN,3,5.0,1,4.0,0,3,0,2,0,0,1,0,0,3,46.0,2017,9,7,3
3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,2015.0,12.0,1.0,11.0,NaN,NaN,4,2.0,1,4.0,1,2,2,0,0,0,1,0,0,3,39.0,2018,1,11,3
4,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,2013.0,4.0,1.0,18.0,NaN,NaN,4,2.0,1,4.0,1,1,0,0,1,0,0,0,1,1,61.0,2018,5,4,2

In [39]:
cat_col = ['PS_wedding', 'PS_sido', 'PS_area_group',
       'PS_ps_banner', 'PS_sex', 'PS_phone_type',
       'PS_phone_buy_month', 'PS_phone_company', 'PS_phone_samsung',
       'PS_phone_lg', 'PS_phone_apple', 'PS_home_form',
       'PS_home_own']

column_dict = pd.DataFrame(DA_books.columns).reset_index().rename(columns={'index':'feature_number', 0:'feature'})
num_cat_col = list(column_dict[lambda x: x['feature'].isin(cat_col)]['feature_number'])

In [40]:
column_dict[lambda x: x['feature'].isin(cat_col)]

     feature_number             feature
418             418          PS_wedding
419             419             PS_sido
420             420       PS_area_group
421             421        PS_ps_banner
422             422              PS_sex
423             423       PS_phone_type
425             425  PS_phone_buy_month
426             426    PS_phone_company
427             427    PS_phone_samsung
428             428         PS_phone_lg
429             429      PS_phone_apple
431             431        PS_home_form
432             432         PS_home_own

In [41]:

DA_books[['PS_wedding', 'PS_sido', 'PS_area_group',
       'PS_ps_banner', 'PS_sex', 'PS_phone_type',
       'PS_phone_buy_month', 'PS_phone_company', 'PS_phone_samsung',
       'PS_phone_lg', 'PS_phone_apple', 'PS_home_form',
       'PS_home_own']] = \
DA_books[['PS_wedding', 'PS_sido', 'PS_area_group',
       'PS_ps_banner', 'PS_sex', 'PS_phone_type',
       'PS_phone_buy_month', 'PS_phone_company', 'PS_phone_samsung',
       'PS_phone_lg', 'PS_phone_apple', 'PS_home_form',
       'PS_home_own']].fillna(0).applymap(lambda x: str(int(x)))

In [42]:
DA_books[['PS_wedding', 'PS_sido', 'PS_area_group',
       'PS_ps_banner', 'PS_sex', 'PS_phone_type',
       'PS_phone_buy_month', 'PS_phone_company', 'PS_phone_samsung',
       'PS_phone_lg', 'PS_phone_apple', 'PS_home_form',
       'PS_home_own']].isnull().sum()

PS_wedding            0
PS_sido               0
PS_area_group         0
PS_ps_banner          0
PS_sex                0
PS_phone_type         0
PS_phone_buy_month    0
PS_phone_company      0
PS_phone_samsung      0
PS_phone_lg           0
PS_phone_apple        0
PS_home_form          0
PS_home_own           0
dtype: int64

In [43]:
DA_books = DA_books.fillna(0)

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

In [44]:
import pandas as pd
import numpy as np 
from sklearn import preprocessing
from sklearn.cross_validation import cross_val_score, train_test_split

# Models for Classification
# from xgboost import XGBClassifier
from catboost import CatBoostClassifier
# from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
# from lightgbm import LGBMClassifier

/opt/conda/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [45]:
from sklearn import pipeline, metrics
from sklearn.utils import shuffle

from sklearn.metrics import auc, f1_score, accuracy_score, log_loss
my_scorer = metrics.make_scorer(auc, greater_is_better = True)

In [46]:
DA_books.head()

,books_target,Location_CU,Location_GS25,Location_KFC,Location_THE FACE SHOP,Location_UNIQLO,Location_다이소,Location_던킨도너츠,Location_뚜레쥬르,Location_롯데리아,Location_맘스터치,Location_매표소/로비/휴게소,Location_맥도날드,Location_배스킨라빈스,Location_버거킹,Location_분당선,Location_빽다방,Location_서울5호선,Location_설빙,Location_세븐일레븐,Location_스타벅스,Location_엔제리너스,Location_올리브영,Location_이디야,Location_투썸플레이스,...,PS_phone_buy_year,PS_phone_buy_month,PS_phone_company,PS_phone_samsung,PS_phone_lg,PS_phone_apple,PS_income,PS_home_form,PS_home_own,PS_education,PS_family_female,PS_famile_male,PS_family_00s,PS_family_10s,PS_family_20s,PS_family_30s,PS_family_40s,PS_family_50s,PS_family_60s,PS_family_70s,PS_age,PS_ins_year,PS_ins_month,PS_ins_day,PS_family_num
0,0,5.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2016.0,2,1,97,0,0,4,2,1,4.0,2,1,0,0,2,0,1,0,0,3,51.0,2017,4,26,3
1,0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2016.0,11,1,11,0,0,3,4,3,2.0,0,2,0,1,0,0,1,0,0,2,40.0,2018,2,19,2
2,2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2017.0,8,1,17,0,0,3,5,1,4.0,0,3,0,2,0,0,1,0,0,3,46.0,2017,9,7,3
3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,2015.0,12,1,11,0,0,4,2,1,4.0,1,2,2,0,0,0,1,0,0,3,39.0,2018,1,11,3
4,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,2013.0,4,1,18,0,0,4,2,1,4.0,1,1,0,0,1,0,0,0,1,1,61.0,2018,5,4,2

In [47]:
features = DA_books.columns[1:]

In [48]:
cbc = CatBoostClassifier(
 learning_rate =0.1,
 iterations=100,
 loss_function='MultiClass'
)

In [49]:
num_cat_col

[418, 419, 420, 421, 422, 423, 425, 426, 427, 428, 429, 431, 432]

In [61]:
cbc.fit(DA_books[features], DA_books['books_target'], cat_features = num_cat_col)

0:	learn: -1.1893834	total: 120ms	remaining: 11.9s
1:	learn: -1.0543622	total: 217ms	remaining: 10.6s
2:	learn: -0.9575075	total: 307ms	remaining: 9.91s
3:	learn: -0.8748921	total: 386ms	remaining: 9.25s
4:	learn: -0.8110020	total: 476ms	remaining: 9.05s
5:	learn: -0.7551899	total: 555ms	remaining: 8.7s
6:	learn: -0.7080463	total: 635ms	remaining: 8.44s
7:	learn: -0.6688063	total: 713ms	remaining: 8.2s
8:	learn: -0.6362768	total: 787ms	remaining: 7.96s
9:	learn: -0.6092700	total: 859ms	remaining: 7.73s
10:	learn: -0.5818195	total: 942ms	remaining: 7.62s
11:	learn: -0.5600952	total: 1.01s	remaining: 7.43s
12:	learn: -0.5401024	total: 1.09s	remaining: 7.31s
13:	learn: -0.5247714	total: 1.17s	remaining: 7.2s
14:	learn: -0.5067517	total: 1.25s	remaining: 7.09s
15:	learn: -0.4925608	total: 1.32s	remaining: 6.96s
16:	learn: -0.4821248	total: 1.39s	remaining: 6.81s
17:	learn: -0.4729011	total: 1.47s	remaining: 6.68s
18:	learn: -0.4626157	total: 1.54s	remaining: 6.57s
19:	learn: -0.4565578	total: 1.63s	remaining: 6.5s
20:	learn: -0.4469916	total: 1.71s	remaining: 6.43s
21:	learn: -0.4392416	total: 1.8s	remaining: 6.38s
22:	learn: -0.4327054	total: 1.88s	remaining: 6.29s
23:	learn: -0.4264699	total: 1.95s	remaining: 6.18s
24:	learn: -0.4214263	total: 2.03s	remaining: 6.09s
25:	learn: -0.4146820	total: 2.11s	remaining: 6.02s
26:	learn: -0.4108215	total: 2.19s	remaining: 5.91s
27:	learn: -0.4078928	total: 2.26s	remaining: 5.8s
28:	learn: -0.4057012	total: 2.33s	remaining: 5.7s
29:	learn: -0.4038681	total: 2.4s	remaining: 5.61s
30:	learn: -0.3997279	total: 2.48s	remaining: 5.51s
31:	learn: -0.3978459	total: 2.55s	remaining: 5.42s
32:	learn: -0.3955622	total: 2.63s	remaining: 5.35s
33:	learn: -0.3926074	total: 2.69s	remaining: 5.21s
34:	learn: -0.3915016	total: 2.77s	remaining: 5.15s
35:	learn: -0.3899729	total: 2.85s	remaining: 5.06s
36:	learn: -0.3891580	total: 2.93s	remaining: 4.98s
37:	learn: -0.3857462	total: 3s	remaining: 4.89s
38:	learn: -0.3832605	total: 3.07s	remaining: 4.81s
39:	learn: -0.3819141	total: 3.15s	remaining: 4.72s
40:	learn: -0.3810580	total: 3.22s	remaining: 4.63s
41:	learn: -0.3792824	total: 3.29s	remaining: 4.55s
42:	learn: -0.3772308	total: 3.36s	remaining: 4.46s
43:	learn: -0.3753635	total: 3.44s	remaining: 4.37s
44:	learn: -0.3735566	total: 3.51s	remaining: 4.29s
45:	learn: -0.3710067	total: 3.58s	remaining: 4.21s
46:	learn: -0.3701956	total: 3.66s	remaining: 4.12s
47:	learn: -0.3685433	total: 3.74s	remaining: 4.05s
48:	learn: -0.3680484	total: 3.82s	remaining: 3.98s
49:	learn: -0.3673515	total: 3.9s	remaining: 3.9s
50:	learn: -0.3662446	total: 3.98s	remaining: 3.82s
51:	learn: -0.3640980	total: 4.05s	remaining: 3.74s
52:	learn: -0.3628790	total: 4.13s	remaining: 3.66s
53:	learn: -0.3618678	total: 4.21s	remaining: 3.58s
54:	learn: -0.3611862	total: 4.29s	remaining: 3.51s
55:	learn: -0.3601406	total: 4.37s	remaining: 3.43s
56:	learn: -0.3594881	total: 4.43s	remaining: 3.34s
57:	learn: -0.3590528	total: 4.5s	remaining: 3.26s
58:	learn: -0.3584794	total: 4.58s	remaining: 3.19s
59:	learn: -0.3578986	total: 4.66s	remaining: 3.1s
60:	learn: -0.3568928	total: 4.74s	remaining: 3.03s
61:	learn: -0.3555062	total: 4.82s	remaining: 2.95s
62:	learn: -0.3542801	total: 4.89s	remaining: 2.87s
63:	learn: -0.3540300	total: 4.96s	remaining: 2.79s
64:	learn: -0.3532911	total: 5.03s	remaining: 2.71s
65:	learn: -0.3530373	total: 5.12s	remaining: 2.63s
66:	learn: -0.3526830	total: 5.2s	remaining: 2.56s
67:	learn: -0.3521891	total: 5.23s	remaining: 2.46s
68:	learn: -0.3514000	total: 5.31s	remaining: 2.38s
69:	learn: -0.3506829	total: 5.38s	remaining: 2.31s
70:	learn: -0.3498900	total: 5.45s	remaining: 2.23s
71:	learn: -0.3494887	total: 5.53s	remaining: 2.15s
72:	learn: -0.3488469	total: 5.6s	remaining: 2.07s
73:	learn: -0.3458369	total: 5.67s	remaining: 1.99s
74:	learn: -0.3453891	total: 5.75s	remaining: 1.92s
75:	learn: -0.3448678	total: 5.83s	remaining: 1.84s
76:	learn: -0.3440078	total: 5.9s	remaining: 1.76s
77:	learn: -0.3434985	total: 5.97s	remaining: 1.69s
78:	learn: -0.3430487	total: 6.05s	remaining: 1.61s
79:	learn: -0.3430091	total: 6.1s	remaining: 1.52s
80:	learn: -0.3421426	total: 6.17s	remaining: 1.45s
81:	learn: -0.3417300	total: 6.25s	remaining: 1.37s
82:	learn: -0.3409570	total: 6.33s	remaining: 1.29s
83:	learn: -0.3391054	total: 6.4s	remaining: 1.22s
84:	learn: -0.3385660	total: 6.48s	remaining: 1.14s
85:	learn: -0.3383745	total: 6.55s	remaining: 1.07s
86:	learn: -0.3378781	total: 6.64s	remaining: 992ms
87:	learn: -0.3373013	total: 6.72s	remaining: 916ms
88:	learn: -0.3360191	total: 6.79s	remaining: 840ms
89:	learn: -0.3355640	total: 6.88s	remaining: 764ms
90:	learn: -0.3349676	total: 6.96s	remaining: 689ms
91:	learn: -0.3334884	total: 7.04s	remaining: 612ms
92:	learn: -0.3331074	total: 7.1s	remaining: 534ms
93:	learn: -0.3325318	total: 7.17s	remaining: 458ms
94:	learn: -0.3318453	total: 7.25s	remaining: 381ms
95:	learn: -0.3313522	total: 7.32s	remaining: 305ms
96:	learn: -0.3307939	total: 7.39s	remaining: 229ms
97:	learn: -0.3301335	total: 7.47s	remaining: 152ms
98:	learn: -0.3298648	total: 7.54s	remaining: 76.2ms
99:	learn: -0.3298339	total: 7.62s	remaining: 0us

In [51]:
cbc.score(DA_books[features], DA_books['books_target'])

0.88523912818923667

In [52]:
from catboost import Pool
p = Pool(DA_books[features], DA_books['books_target'], cat_features = num_cat_col)

In [53]:
cbc.get_feature_importance(p)

[0.025131629251487004,
 0.002022399183142931,
 0.0,
 0.0004457190722886213,
 0.0,
 0.0,
 0.0,
 0.00780656249248876,
 0.0008930758228505812,
 0.018491244166660394,
 0.004075905239806157,
 0.0,
 0.0,
 0.000295632055915808,
 0.0,
 4.077483860646266e-05,
 0.0,
 0.0004606515704091411,
 0.002713227536415144,
 0.0,
 0.0006888589741120216,
 0.00060711977818636,
 5.335866039638251e-05,
 0.0031425449046754836,
 0.0004235290382442972,
 0.0,
 0.0,
 0.0,
 0.12311932955361407,
 0.0,
 0.011053629148005955,
 0.0,
 0.0009159454199084538,
 0.0022046442902192483,
 0.02342926088429197,
 0.0008390329166653352,
 0.0,
 0.004754717071965564,
 0.00013841634053749418,
 0.001314107830682861,
 0.0017688123592158758,
 0.0,
 0.00038932107129221707,
 0.0,
 0.010346003067925899,
 0.07557675187515982,
 0.0,
 0.0,
 0.35980486348975094,
 0.0,
 0.0,
 0.003088684730386223,
 0.0002659127612428036,
 0.0027153686565842754,
 0.08952289471618032,
 0.0,
 0.9899219338876373,
 0.0,
 0.0,
 0.025668249531496226,
 0.050154169556786546,
 0.008638331778393595,
 0.0,
 0.0003680052221343165,
 0.0,
 0.0,
 0.0,
 0.0,
 0.1771490741094482,
 0.22991289098536005,
 0.051493275467146014,
 0.0,
 0.0,
 0.013655782866922166,
 0.0,
 0.0,
 0.03457010948385873,
 0.0,
 0.056272634077275924,
 0.0,
 0.020159950991236558,
 0.0,
 0.006259057809836299,
 0.060171876113007165,
 0.021289103809832906,
 0.0,
 0.01984872052742784,
 0.0,
 0.09125685964244949,
 0.0,
 0.762963609948593,
 0.6856822082848557,
 0.5033490715842447,
 0.0,
 0.019741269930070977,
 0.018412905510116526,
 0.9407281269516401,
 0.09803862200653583,
 0.006035534176874253,
 0.46540745055776345,
 0.007387406950808916,
 0.0017421535382607504,
 0.012849935075291162,
 46.59913345794023,
 0.04316218012625703,
 0.0017722170426161278,
 0.353672821463385,
 0.0,
 0.14123552594840705,
 0.002832844681539728,
 0.0,
 0.17335835557399698,
 0.0066276417218507815,
 0.0,
 0.0,
 0.02392315004457579,
 0.0,
 3.276089718451018,
 0.028011973248779944,
 0.04854235239995311,
 0.0,
 0.0,
 0.0,
 0.013034334826201055,
 0.26318669760713354,
 0.0,
 0.01051393405981065,
 0.2658840994892445,
 1.1379350239877843,
 0.0,
 0.0,
 0.0,
 0.003948300866676213,
 0.0,
 0.3518777870100577,
 0.027122414827579353,
 0.0,
 0.0026528682138431277,
 0.02382477002307818,
 0.12792687835605435,
 0.0024157940196321386,
 0.0,
 0.5687844642200377,
 0.04066174648988546,
 0.0,
 0.0,
 0.13662794300006165,
 0.05556408740686837,
 0.0,
 0.0,
 0.15994969364409717,
 0.6567505894512856,
 0.2875535021796315,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0854624282765346,
 0.18136754537495473,
 0.22402982040452066,
 0.6566190028352737,
 0.14018039619231354,
 0.027908912160665645,
 0.0,
 0.05438822037280496,
 0.008312390241191417,
 0.012062840241943856,
 0.5009203832494428,
 0.10120446261415127,
 0.11453901552771649,
 0.0,
 0.026965837222429834,
 0.0,
 0.02110738096155303,
 0.0,
 0.163296988438364,
 0.0,
 0.0017566775129728457,
 0.04689032633961903,
 0.027989198040015612,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0715936732534921,
 0.0241392364560947,
 0.0,
 0.0,
 9.776831217098076,
 0.0,
 0.016367579548155202,
 0.05050992430280994,
 0.09191718723070559,
 0.05419114981739468,
 0.3517632533478044,
 0.033263569527437906,
 0.0,
 0.0,
 0.01996116414459741,
 0.0003086936928808284,
 0.0,
 0.06837538225403199,
 0.02610989197420443,
 0.0,
 0.1396568577622449,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0005344724036817082,
 0.0,
 0.16154087706613554,
 0.04224435251121083,
 0.0,
 0.05010017894579959,
 0.01671562162819717,
 0.0,
 0.04525992729010663,
 0.0,
 0.017754483118407285,
 0.006864108801153973,
 0.0,
 0.017487885075596916,
 0.0,
 0.0,
 0.0,
 0.03033933695998129,
 0.18477284736802407,
 0.0,
 0.022510799160911543,
 0.0036188117424940168,
 0.001739262590755555,
 0.0,
 0.0,
 0.0650081371517642,
 0.01574577592562766,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.09417358622260055,
 0.0,
 0.028326056484183192,
 0.07448687933329298,
 0.0,
 0.0,
 0.0,
 0.0203430580998711,
 0.09673000466716507,
 0.08130495287855748,
 0.0,
 0.0,
 0.08975779279986203,
 0.10632833808355299,
 0.1111696468809655,
 0.0,
 0.0,
 0.0,
 0.9249375128078089,
 0.0,
 0.02464363003868056,
 0.0,
 0.03154138785585236,
 0.0,
 0.08470392576428817,
 0.08086078980304462,
 0.04878124822466991,
 0.0,
 0.0,
 0.0,
 3.615044747952624e-06,
 0.1404311738087936,
 0.0,
 0.0,
 0.0,
 0.08882712200963375,
 0.0,
 0.07376934880277411,
 0.06825279078177454,
 0.0,
 0.0,
 0.0,
 0.05871544300002916,
 0.0,
 0.0,
 0.0,
 0.023286029296699793,
 0.0,
 0.0,
 0.0,
 0.08968906262454715,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.026326156832405627,
 0.14326585304181105,
 0.0,
 0.0,
 0.0,
 0.012394250439820407,
 0.0,
 0.0,
 0.020666069771692462,
 0.4060248759295505,
 0.0932731153399984,
 0.040111721398400316,
 0.1380318738447288,
 0.021005019281403893,
 0.0,
 0.0,
 0.042482550063407086,
 0.13275924954331758,
 0.0,
 0.0319948320215008,
 5.218145173334223,
 0.059343251819465405,
 0.0,
 0.0,
 0.0,
 0.13258117147228057,
 0.019560614177175088,
 0.035769105568938836,
 0.08262171920483294,
 0.030893372728830998,
 0.0,
 0.0,
 0.0,
 0.03334139455285771,
 0.0,
 0.0,
 0.02403325919806804,
 0.0,
 0.0,
 0.3075393963239075,
 0.07229123049600264,
 0.09638915270954865,
 0.391331900306942,
 0.8186800003772557,
 0.0,
 0.0804320942785568,
 0.0,
 0.1621238530006104,
 0.0,
 0.03129299208395758,
 0.0,
 0.0,
 0.007390167082789857,
 0.0,
 0.13070983213647977,
 0.10101381528681402,
 0.0,
 0.0,
 0.0,
 0.0,
 0.06841113100973571,
 0.0033977586024656822,
 7.425019947176093,
 0.10473481789982646,
 0.0,
 0.0,
 0.09612117310919954,
 0.0,
 0.004566834021253082,
 0.036087084954030624,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.24167609794235007,
 0.0,
 0.0,
 0.0,
 0.06898480119597344,
 0.0,
 0.07264048834379332,
 0.11239768866872228,
 3.809653737926966e-05,
 0.12459440372490298,
 0.0,
 0.0,
 0.04315239590463577,
 0.0,
 0.0,
 0.14912425626313158,
 0.05299025591658405,
 0.0,
 0.24374738542378488,
 0.0,
 0.9511576717701257,
 0.0,
 0.0,
 0.0,
 0.0018136549679048047,
 0.0,
 0.0,
 0.0,
 0.06349392590606726,
 0.06759027442786084,
 0.01758240598185899,
 0.33166920352182383,
 0.0,
 0.0,
 0.035748481797138375,
 0.043407103083218684,
 0.6731708016345355,
 0.014036953914160781,
 0.0,
 0.000208400636012764,
 0.0,
 0.006564013247831066,
 0.0,
 0.15784262876822952,
 0.024908759203622337,
 0.09048039909208433,
 0.1303398330279239,
 0.21126706525339037,
 0.0001193921187851798,
 0.0,
 0.5775097338545759,
 0.7236230086637694,
 0.04314143291065664,
 0.0017797775342944797,
 0.1763661931165055,
 0.0,
 0.0,
 0.000726139529782804,
 0.5395459023397833,
 0.0,
 0.0,
 0.0888668664207558]

In [54]:
cbc.eval_metrics(p, metrics = ['Accuracy','AUC'])

{'AUC:class=0': [0.6448682280801727,
  0.7284289864406397,
  0.7393749147208725,
  0.8551636963872944,
  0.8629294597976317,
  0.8680715283045946,
  0.8663877755283436,
  0.8684900795243111,
  0.871328076353568,
  0.87433406570333,
  0.8843989375671824,
  0.8852919393705992,
  0.8854127812612882,
  0.8869199189665322,
  0.8863367401240672,
  0.8868637672352166,
  0.8868955234577959,
  0.8914183245938526,
  0.894039033150468,
  0.894584020403394,
  0.894744021291727,
  0.896567080835107,
  0.8973077789538095,
  0.8967693111902871,
  0.8963200132173184,
  0.896918081732357,
  0.8984259765395963,
  0.8985798364895233,
  0.8986298052212109,
  0.8987757576614095,
  0.9029897873670634,
  0.9028887142506953,
  0.9037677937896438,
  0.9039415066363354,
  0.9058773323157883,
  0.9067824898123514,
  0.9071475812189578,
  0.9078273746882632,
  0.9080736010816127,
  0.9082709523350456,
  0.9085568003994806,
  0.90871436173694,
  0.9125183786509351,
  0.9130432185785426,
  0.9130347222117069,
  0.9133492560295182,
  0.91387182465114,
  0.9139447588100174,
  0.9142640034846881,
  0.9142966429929285,
  0.9143864016405896,
  0.9171591615145875,
  0.9170715059280246,
  0.917215523552013,
  0.9174349990081964,
  0.9190949871940404,
  0.9191643882102731,
  0.919412212930057,
  0.9195902160213887,
  0.9198493972711016,
  0.9198652964130022,
  0.9208290872529765,
  0.921022652996433,
  0.9212726648997589,
  0.9214642958270052,
  0.9215737391265432,
  0.9218902077605646,
  0.9218998818416153,
  0.9219422795533502,
  0.9218516796812499,
  0.9221341628479283,
  0.9233491433054434,
  0.923507545867342,
  0.9235496070893012,
  0.9236137083915671,
  0.9238838255589894,
  0.924508855317304,
  0.9247825897498148,
  0.925073569283329,
  0.9253587443682126,
  0.9261543744427939,
  0.9262085492966775,
  0.9263415468805126,
  0.9262413570498057,
  0.9277287259807289,
  0.9278405247086966,
  0.9279004198887666,
  0.927947528457361,
  0.9288907092985753,
  0.929345222863067,
  0.929439187632924,
  0.9294605547336793,
  0.9296653087621769,
  0.9307721077568127,
  0.9309060306875311,
  0.9309724032957828,
  0.9311795968751541,
  0.9315937316665649,
  0.9330720994959888,
  0.933218556670851],
 'AUC:class=1': [0.674586290399805,
  0.8006140859197073,
  0.8110341974927169,
  0.8524192250700663,
  0.8561308391471012,
  0.8463314277139774,
  0.8608706189429292,
  0.8641342923623527,
  0.8684271186976107,
  0.8629711274481253,
  0.8741079440733133,
  0.8781342272073479,
  0.8801471219751049,
  0.8895321574500306,
  0.8903043923357971,
  0.890599070652705,
  0.887685111785257,
  0.8852531518733544,
  0.8777662495101035,
  0.8826079574004733,
  0.8847274694487195,
  0.8855927476556538,
  0.9070756360757337,
  0.9069971539109292,
  0.907988052941403,
  0.9132744930989991,
  0.9207522638896156,
  0.9217434097193498,
  0.9260164921137765,
  0.9266048615505509,
  0.9334372522752423,
  0.9326914249103379,
  0.9345424193632776,
  0.9348232769216037,
  0.9355246804196378,
  0.9366081291727585,
  0.9376708467880064,
  0.9379877370383496,
  0.9382814281582161,
  0.9383194352443165,
  0.9381910996289127,
  0.938290806530111,
  0.9419093772859781,
  0.9420268537339247,
  0.9427953866307853,
  0.9437890004531234,
  0.9437189094631722,
  0.943746550980336,
  0.9441547569570243,
  0.9450225031565626,
  0.94509012615391,
  0.9463710143153443,
  0.9459968666365901,
  0.9459682379223846,
  0.9465733897088657,
  0.9490532286772843,
  0.9492630080486175,
  0.9496391301214548,
  0.949622841370269,
  0.9496909579661371,
  0.9494411971146205,
  0.9506283015571059,
  0.9507620667562383,
  0.9512275301613377,
  0.9512729412252497,
  0.9515320804486613,
  0.951807014824738,
  0.9519437416149952,
  0.9527211592852298,
  0.9525098991183343,
  0.9526792034109632,
  0.9531757635228719,
  0.9535681743468951,
  0.9535770591202692,
  0.9537241514794629,
  0.9538480447081796,
  0.9542291027662249,
  0.9545025563467391,
  0.9546940725728034,
  0.9547454068189648,
  0.9551896454876704,
  0.9552873779947856,
  0.9553135387163871,
  0.9551388048400297,
  0.9553949824723166,
  0.9553466098172797,
  0.955368821750715,
  0.9550711818426822,
  0.9553248914823652,
  0.9554389127406663,
  0.9559956918721106,
  0.9560030958499224,
  0.9560820716132478,
  0.9560672636576243,
  0.9561541369972822,
  0.9562010288567567,
  0.9564764568313542,
  0.9571398532432878,
  0.9579858811079115,
  0.9580668312653201],
 'AUC:class=2': [0.6762938870582889,
  0.7493545413227836,
  0.7660926960779251,
  0.861860416171716,
  0.8642980265672289,
  0.8676983374823108,
  0.8642250105876398,
  0.8647336046523639,
  0.8678226131328052,
  0.8712937450289739,
  0.8815406436252078,
  0.883470370102571,
  0.8835888354629122,
  0.8850150034603506,
  0.88430950511822,
  0.8851978339238309,
  0.8852763373996757,
  0.889723210688868,
  0.8920717299687019,
  0.89210904494324,
  0.892729454814019,
  0.8941404514982803,
  0.8946000454493808,
  0.8947944964931671,
  0.8950129634029191,
  0.8951121902469761,
  0.8956999333753395,
  0.8958582315026185,
  0.8962699873981262,
  0.8965976877627542,
  0.8986695081137475,
  0.898899272809908,
  0.8990329094834265,
  0.8993050892977038,
  0.9010014357872556,
  0.9013246170373201,
  0.9013833655266447,
  0.9016333371207818,
  0.9023217919451302,
  0.9023974548346779,
  0.902546456497712,
  0.9028084360248319,
  0.9041463521707244,
  0.9041335695323879,
  0.9042291165260146,
  0.9040808895683342,
  0.9041511295204058,
  0.904233893875696,
  0.9045951648056523,
  0.904952303973722,
  0.904932161634525,
  0.9065893855037134,
  0.9065236646662053,
  0.906754526861617,
  0.9069387776182458,
  0.9075322019192034,
  0.9075001807645825,
  0.9078419549431367,
  0.9078385978866038,
  0.9079799816136596,
  0.9081050965282871,
  0.9089398415469316,
  0.9093734183099028,
  0.9092565669190484,
  0.9093247409901768,
  0.9096133187344413,
  0.9095705808224273,
  0.9097352057100949,
  0.9096944045614651,
  0.9098368212289926,
  0.909999380235717,
  0.9116130914875376,
  0.9115954023819607,
  0.911741046988462,
  0.9117925648944851,
  0.9118888865934656,
  0.9125149776368388,
  0.912600582578426,
  0.9127225986716385,
  0.9130974269452852,
  0.9137901426490791,
  0.9137976314674985,
  0.9136783268430241,
  0.9140087386763901,
  0.9154387156418176,
  0.9159103820846805,
  0.9158672568199895,
  0.9158552488870066,
  0.9168506161489913,
  0.9168304738097943,
  0.9167788267862123,
  0.9168210482279906,
  0.9173615343297765,
  0.919010236440074,
  0.9190670481660141,
  0.9190297331914762,
  0.9191044922581112,
  0.9194250911569967,
  0.9200754563014534,
  0.9202669376413837],
 'AUC:class=3': [0.539290969115113,
  0.5947308886942916,
  0.6119812040279189,
  0.7471451099645425,
  0.7722647955029187,
  0.775084375541164,
  0.7796309214865325,
  0.7868780681317142,
  0.7847025117382712,
  0.7863643844331425,
  0.7951621005211142,
  0.7939738423540653,
  0.7878523170113128,
  0.7893344157638567,
  0.7895085094022847,
  0.7919571809480765,
  0.794936116538957,
  0.80724395339326,
  0.8061022123094949,
  0.8069178732450931,
  0.8051686466875538,
  0.8075916801049352,
  0.8105302394816124,
  0.8101706915969575,
  0.8108567801949603,
  0.8131332003630481,
  0.8203476468803771,
  0.819239220011373,
  0.8148828874857685,
  0.8146790106323007,
  0.8259594800894602,
  0.8257012565446312,
  0.827321217808029,
  0.8260822974710673,
  0.8274507901456245,
  0.8306231631125364,
  0.8299000757783245,
  0.8280126796664771,
  0.8269045598409269,
  0.8258504796632838,
  0.8271280874754519,
  0.8261965176359619,
  0.8322944006327552,
  0.8337900092972758,
  0.832775230681747,
  0.8356279714130262,
  0.8369098778335505,
  0.838626557784964,
  0.8404467113803814,
  0.844272165773989,
  0.8438321725043815,
  0.8495391891842101,
  0.8499788754103635,
  0.8498185987273663,
  0.8511870914019235,
  0.8529903576073701,
  0.8530038675193468,
  0.8532894179315833,
  0.854336743153238,
  0.8560089018038188,
  0.8564132780327602,
  0.854993816144836,
  0.8541549734284595,
  0.8570767989368928,
  0.8578548470493739,
  0.8582856290153608,
  0.8604192739773304,
  0.8612485983466325,
  0.8612513617377185,
  0.8612172799143226,
  0.862571648589995,
  0.8673658250810288,
  0.8677523927896371,
  0.8677800267004987,
  0.8685921566363758,
  0.8685712776815027,
  0.870805018809482,
  0.8706828155147829,
  0.8723497544266454,
  0.8720774068829317,
  0.8727811504795404,
  0.8737578557067711,
  0.8738717688282116,
  0.8743943567869499,
  0.8778581139917245,
  0.8784442599454445,
  0.8791372570211626,
  0.87826126204685,
  0.8795597488138911,
  0.8804596931776173,
  0.8804851777843008,
  0.880523251172599,
  0.8826762398721717,
  0.8854466929577741,
  0.8852913289700411,
  0.8835605250197429,
  0.8838525233445138,
  0.8844027452141137,
  0.8863874741008847,
  0.8860171796953392],
 'Accuracy': [0.8667493027579796,
  0.867265778328685,
  0.8684020245842372,
  0.8675756636711084,
  0.8686086148125194,
  0.8688152050408016,
  0.8690217952690837,
  0.8699514512963537,
  0.8701580415246359,
  0.8697448610680715,
  0.8693316806115071,
  0.8688152050408016,
  0.8685053196983783,
  0.869228385497366,
  0.8697448610680715,
  0.8699514512963537,
  0.8707778122094825,
  0.8709844024377646,
  0.871294287780188,
  0.8717074682367524,
  0.8717074682367524,
  0.8718107633508935,
  0.8721206486933168,
  0.8727404193781634,
  0.8728437144923045,
  0.8729470096064457,
  0.8734634851771511,
  0.8736700754054333,
  0.8735667802912922,
  0.8740832558619978,
  0.874393141204421,
  0.8748063216609855,
  0.874393141204421,
  0.8752195021175498,
  0.8755293874599731,
  0.8757359776882554,
  0.8758392728023965,
  0.8758392728023965,
  0.8757359776882554,
  0.876459043487243,
  0.8760458630306787,
  0.8767689288296664,
  0.8772854044003718,
  0.8772854044003718,
  0.8772854044003718,
  0.8773886995145129,
  0.8776985848569363,
  0.8782150604276417,
  0.8779051750852185,
  0.8778018799710774,
  0.8789381262266295,
  0.8789381262266295,
  0.8788348311124884,
  0.879454601797335,
  0.8793513066831938,
  0.8792480115690527,
  0.879454601797335,
  0.8793513066831938,
  0.8795578969114761,
  0.879454601797335,
  0.879454601797335,
  0.8800743724821816,
  0.8801776675963227,
  0.8801776675963227,
  0.8799710773680405,
  0.8798677822538994,
  0.8797644871397583,
  0.8800743724821816,
  0.8800743724821816,
  0.8801776675963227,
  0.8802809627104637,
  0.8803842578246049,
  0.8806941431670282,
  0.880487552938746,
  0.8805908480528871,
  0.8803842578246049,
  0.8811073236235926,
  0.8807974382811693,
  0.8811073236235926,
  0.8812106187377337,
  0.8816237991942981,
  0.8816237991942981,
  0.8817270943084392,
  0.8818303894225803,
  0.8820369796508625,
  0.8821402747650036,
  0.8820369796508625,
  0.8821402747650036,
  0.8822435698791448,
  0.882553455221568,
  0.8828633405639913,
  0.8828633405639913,
  0.8832765210205558,
  0.8832765210205558,
  0.8836897014771201,
  0.8839995868195434,
  0.8838962917054023,
  0.8836897014771201,
  0.8845160623902489,
  0.8852391281892367]}

In [59]:
len(features)

448

In [62]:
len(cbc.get_feature_importance(p))

448

In [63]:
books_FE = pd.DataFrame(features)
books_FE['importance'] = cbc.get_feature_importance(p)
books_FE = books_FE.rename(columns={0:'feature'})

In [65]:
books_FE.sort_values(by='importance', ascending=False)

                           feature  importance
103                    App_도서/참고자료   46.364974
192                      App_NAVER    8.235181
372                     App_카카오페이지    8.061909
330                   App_예스24 NEB    4.769797
117                         App_쇼핑    3.355072
96                          App_교육    2.061182
56              Location_Bookstore    1.047485
142                       App_11번가    1.029818
421                         PS_sex    0.823153
405                      App_해피포인트    0.786161
353                    App_인터파크 투어    0.772739
161                    App_GS SHOP    0.762484
436                  PS_family_10s    0.692396
286                      App_리브메이트    0.652477
198                 App_OK Cashbag    0.599441
152                  App_CJ대한통운 택배    0.560670
93            App_total_usage_time    0.540132
443                         PS_age    0.499778
416                   PS_BirthYear    0.478134
68                    Location_lat    0.465504
90                 App_app_counted    0.453708
389                        App_트위터    0.439042
272                       App_드라이브    0.430851
277                         App_롭스    0.382101
347                     App_이디야멤버스    0.375321
168                        App_G마켓    0.326203
92             App_app_counted_gap    0.301308
91              App_app_count_mean    0.296910
149                        App_CGV    0.291140
94                           App_N    0.290177
106                     App_라이프스타일    0.286729
151                     App_CJmall    0.277656
349                       App_이마트몰    0.264598
258                     App_네이버 웹툰    0.251111
99                       App_뉴스/잡지    0.250541
162                   App_GS&POINT    0.249726
150                     App_CJ ONE    0.223920
438                  PS_family_30s    0.222667
363                      App_카카오 T    0.221077
370                       App_카카오톡    0.217423
127                         App_음악    0.215546
188                      App_Melon    0.212887
282                      App_롯데시네마    0.209394
193                       App_NH뱅킹    0.206159
385                         App_쿠팡    0.205410
8                    Location_롯데리아    0.201470
70                  Location_count    0.200320
72       Location_count_diff_ratio    0.194786
171                  App_Instagram    0.181866
95                       App_건강/운동    0.179013
..                             ...         ...
311                      App_세븐일레븐    0.000000
129                         App_의료    0.000000
126                     App_예술/디자인    0.000000
123                       App_어드벤처    0.000000
122                         App_액션    0.000000
316                  App_신한 쏠(SOL)    0.000000
317                       App_신한카드    0.000000
318                       App_싸이메라    0.000000
119                      App_시뮬레이션    0.000000
322                        App_알바몬    0.000000
323                       App_알바천국    0.000000
118                        App_스포츠    0.000000
325                        App_앱프리    0.000000
326                        App_야놀자    0.000000
327                        App_업비트    0.000000
328                        App_엘롯데    0.000000
114                         App_사진    0.000000
331                         App_오락    0.000000
332                        App_오베이    0.000000
333                         App_옥션    0.000000
334                  App_올레 tv 모바일    0.000000
102                         App_도구    0.000000
131                        App_자동차    0.000000
306                        App_사람인    0.000000
172                   App_JAM Live    0.000000
132                     App_자동차 경주    0.000000
169                    App_H.Point    0.000000
166             App_Google Play 무비    0.000000
283                       App_롯데카드    0.000000
154                       App_CLiP    0.000000
148                       App_BAND    0.000000
147                       App_B612    0.000000
146  App_AhnLab V3 Mobile Security    0.000000
145  App_AhnLab V3 Mobile Plus 2.0    0.000000
143                    App_4shared    0.000000
290                        App_모아락    0.000000
141                         App_퍼즐    0.000000
293                       App_방치타임    0.000000
138                     App_캐주얼 게임    0.000000
295                      App_배달의민족    0.000000
296                        App_배달통    0.000000
297                     App_배틀그라운드    0.000000
134                   App_지도/내비게이션    0.000000
299                       App_번개장터    0.000000
133                         App_전략    0.000000
301                      App_보안 폴더    0.000000
302                      App_뷰티포인트    0.000000
303                        App_비디오    0.000000
304                      App_비디오포털    0.000000
224                       App_S알리미    0.000000

[448 rows x 2 columns]

In [66]:
DA_books.groupby('books_target')['App_NAVER'].agg([np.mean, np.std, np.median])

                  mean       std  median
books_target
0             7.618840  3.912655    10.0
1             8.088785  3.764994    10.0
2             8.238636  3.478830    10.0
3             8.028653  3.674123    10.0

In [67]:
DA_books.groupby('books_target')['App_카카오페이지'].agg([np.mean, np.std, np.median])

                  mean       std  median
books_target
0             1.762807  3.403476     0.0
1             2.378505  3.881061     0.0
2             1.802273  3.440969     0.0
3             2.209169  3.686622     0.0

In [68]:
DA_books.groupby('books_target')['App_쇼핑'].agg([np.mean, np.std, np.median])

                    mean        std  median
books_target
0              37.079510  43.052448    24.0
1             103.532710  93.573884    69.0
2             108.731818  97.711229    77.0
3              52.553009  53.771448    36.0

In [69]:
DA_books.groupby('books_target')['App_교육'].agg([np.mean, np.std, np.median])

                  mean       std  median
books_target
0             4.992717  7.599812     1.0
1             8.621495  9.859659     6.0
2             7.257955  9.375157     4.0
3             8.392550  9.621758     5.0

In [70]:
DA_books.groupby('books_target')['Location_Bookstore'].agg([np.mean, np.std, np.median])

                  mean       std  median
books_target
0             0.103302  0.659913     0.0
1             0.364486  1.033636     0.0
2             0.129545  0.534617     0.0
3             0.300860  0.811926     0.0

In [72]:
DA_books.groupby('books_target')['PS_age'].agg([np.mean, np.std, np.median])

                   mean        std  median
books_target
0             35.825564  10.728816    36.0
1             35.836449   8.650565    37.0
2             37.154545   8.354284    37.0
3             33.982808   9.577857    35.0

In [73]:
DA_books.groupby('books_target')['App_네이버 웹툰'].agg([np.mean, np.std, np.median])

                  mean       std  median
books_target
0             2.070405  3.837623     0.0
1             1.593458  3.414709     0.0
2             1.430682  3.289548     0.0
3             2.295129  3.952521     0.0

In [63]:
DA_mise.groupby('미세미세')['PS_family_00s'].agg([np.mean, np.std, np.median])

          mean       std  median
미세미세
0.0   0.311711  0.624522       0
1.0   0.688819  0.803041       0

In [64]:
DA_mise.groupby('미세미세')['App_출산/육아'].agg([np.mean, np.std, np.median])

          mean       std  median
미세미세
0.0   0.664723  3.258504     0.0
1.0   2.693511  6.667949     0.0

In [65]:
DA_mise.groupby('미세미세')['PS_age'].agg([np.mean, np.std, np.median])

           mean        std  median
미세미세
0.0   35.962866  10.832694    36.0
1.0   35.336982   7.598789    36.0

In [66]:
DA_mise.groupby('미세미세')['PS_sex'].value_counts()

미세미세  PS_sex
0.0   2         4874
      1         3528
1.0   2          970
      1          309
Name: PS_sex, dtype: int64

In [68]:
DA_mise.groupby('미세미세')['App_이마트몰'].agg([np.mean, np.std, np.median])

          mean       std  median
미세미세
0.0   0.458700  1.657214     0.0
1.0   0.980453  2.349460     0.0

In [69]:
DA_mise.groupby('미세미세')['App_Messenger'].agg([np.mean, np.std, np.median])

          mean       std  median
미세미세
0.0   1.418234  2.928955     0.0
1.0   0.790461  2.231837     0.0

In [70]:
DA_mise.groupby('미세미세')['App_자동차'].agg([np.mean, np.std, np.median])

          mean       std  median
미세미세
0.0   0.336944  1.560932     0.0
1.0   0.509773  2.061197     0.0

In [53]:
DA_sb_ed.groupby('sb_ed_target')['Location_Coffee Shop'].agg([np.mean, np.std, np.median])

                  mean       std  median
sb_ed_target
0             1.246065  2.639462     0.0
1             4.738839  5.729636     3.0
2             3.724826  5.206072     2.0
3             3.135802  6.021092     1.0

In [54]:
DA_sb_ed.groupby('sb_ed_target')['PS_sex'].value_counts()

sb_ed_target  PS_sex
0             2         4060
              1         3373
1             2          383
              1           65
2             2          865
              1          287
3             2          536
              1          112
Name: PS_sex, dtype: int64

In [56]:
DA_sb_ed.groupby('sb_ed_target')['App_해피포인트'].agg([np.mean, np.std, np.median])

                  mean       std  median
sb_ed_target
0             1.921566  3.283174     0.0
1             5.598214  3.979162     6.0
2             3.594618  3.827252     2.0
3             4.492284  4.052584     4.0

In [57]:
DA_sb_ed.groupby('sb_ed_target')['PS_education'].agg([np.mean, np.std, np.median])

                  mean       std  median
sb_ed_target
0             3.374008  1.238307     4.0
1             3.886161  0.945014     4.0
2             3.983507  0.975230     4.0
3             3.618827  1.081566     4.0

In [58]:
DA_sb_ed.groupby('sb_ed_target')['PS_BirthYear'].agg([np.mean, np.std, np.median])

                     mean        std  median
sb_ed_target
0             1982.893852  11.220412  1982.0
1             1983.513393   6.794839  1983.5
2             1984.398438   7.070338  1985.0
3             1983.189815   8.076111  1983.0

In [59]:
DA_sb_ed.groupby('sb_ed_target')['App_금융'].agg([np.mean, np.std, np.median])

                   mean        std  median
sb_ed_target
0             41.666756  32.608772    35.0
1             75.044643  43.221533    69.5
2             61.202257  34.270375    56.0
3             58.334877  38.246624    51.0

In [60]:
DA_sb_ed.groupby('sb_ed_target')['App_Instagram'].agg([np.mean, np.std, np.median])

                  mean       std  median
sb_ed_target
0             3.402529  4.316677     0.0
1             5.229911  4.659627     6.0
2             5.452257  4.554275     7.0
3             3.913580  4.501616     0.0

In [61]:
DA_sb_ed.groupby('sb_ed_target')['App_여행 및 지역정보'].agg([np.mean, np.std, np.median])

                   mean        std  median
sb_ed_target
0              8.003498   9.077482     5.0
1             14.995536  13.191075    12.0
2             14.579861  13.572045    11.0
3             10.868827  11.267566     9.0

In [63]:
DA_sb_ed.groupby('sb_ed_target')['App_메가박스'].agg([np.mean, np.std, np.median])

                  mean       std  median
sb_ed_target
0             0.266245  1.137133     0.0
1             0.772321  1.845714     0.0
2             0.671007  1.775475     0.0
3             0.503086  1.647439     0.0

In [64]:
DA_sb_ed.groupby('sb_ed_target')['App_티몬'].agg([np.mean, np.std, np.median])

                  mean       std  median
sb_ed_target
0             2.142876  3.598197     0.0
1             5.450893  4.449799     7.0
2             3.558160  4.169946     1.0
3             4.345679  4.426729     3.0

In [65]:
DA_sb_ed.groupby('sb_ed_target')['App_Samsung Pay'].agg([np.mean, np.std, np.median])

                  mean       std  median
sb_ed_target
0             3.365398  4.134928     1.0
1             5.616071  4.419796     8.0
2             5.145833  4.471310     6.0
3             3.700617  4.199787     1.0

In [66]:
DA_sb_ed.groupby('sb_ed_target')['App_total_usage_time'].agg([np.mean, np.std, np.median])

                    mean         std     median
sb_ed_target
0             123.534372  140.895507  77.077524
1              96.780298   94.232396  60.720071
2              98.790474  107.475554  61.170937
3             121.473765  134.543756  71.750728

In [68]:
DA_sb_ed.groupby('sb_ed_target')['App_기프티콘'].agg([np.mean, np.std, np.median])

                  mean       std  median
sb_ed_target
0             0.167900  0.889665     0.0
1             1.323661  2.690637     0.0
2             0.434028  1.455087     0.0
3             0.604938  1.855217     0.0