<br>
<br>
<br>
# 연관규칙분석 - 공생앱과 경쟁앱
<br>

---

In [1]:
import pandas as pd
import numpy as np
pd.set_option('max_columns',50)
pd.set_option('max_rows',100)

import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.font_manager as fm
import seaborn as sns
sns.set() 
%matplotlib inline 
%config InlineBackend.figure_format = 'retina' 
sns.set_style(style='white')
sns.set_context(context ='paper')

import datetime
import os

In [2]:
DA_Location = pd.read_csv('DA_target_location.csv')
DA_App = pd.read_csv('DA_target_app.csv')
DA_PS = pd.read_csv('DA_target_PS.csv')

AR_App = pd.read_csv('AR_target_app.csv')

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (464,901,903,907,916,918,920,922,924,926,928,931,947) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
DA_Location.head()

,pid,Location_CU,Location_GS25,Location_KFC,Location_THE FACE SHOP,Location_UNIQLO,Location_다이소,Location_던킨도너츠,Location_뚜레쥬르,Location_롯데리아,Location_맘스터치,Location_매표소/로비/휴게소,Location_맥도날드,Location_배스킨라빈스,Location_버거킹,Location_분당선,Location_빽다방,Location_서울5호선,Location_설빙,Location_세븐일레븐,Location_스타벅스,Location_엔제리너스,Location_올리브영,Location_이디야,Location_투썸플레이스,...,Location_Drug Store,Location_Others(Bakery/Dessert),Location_Others(Others),Location_Bookstore,Location_Bar,Location_Dental Clinic,Location_Stationery Shop,Location_Real Estate Agency,Location_Shoe Store,Location_Electronics Shop,Location_General Hospital,Location_Pizza,Location_Karaoke,Location_Main_city,Location_City_count,Location_floor,Location_lat,Location_lng,Location_count,Location_min,Location_max,Location_diff,Location_min_month,Location_max_month,Location_count_diff_ratio
0,A0002542,5.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,경기,2.0,0.541667,37.468860,127.091184,24.0,2018-05-29,2018-06-29,31.0,2018-05,2018-06,0.800000
1,A0003204,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,인천,3.0,0.727273,37.480777,126.726113,22.0,2018-05-01,2018-07-01,61.0,2018-05,2018-07,0.400000
2,A0003696,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,서울,1.0,1.000000,37.606263,127.031478,2.0,2018-05-30,2018-05-30,0.0,2018-05,2018-05,inf
3,A0003768,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,경기,1.0,2.277778,37.265267,127.050818,18.0,2018-05-01,2018-06-24,54.0,2018-05,2018-06,0.300000
4,A0008228,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,대전,2.0,-0.062500,36.485481,127.318642,16.0,2018-05-04,2018-07-01,58.0,2018-05,2018-07,0.300000

In [4]:
del DA_Location['Location_min']
del DA_Location['Location_max']
del DA_Location['Location_min_month']
del DA_Location['Location_max_month']

DA_main_city = pd.get_dummies(DA_Location['Location_Main_city'], prefix='Location_')

DA_Location = pd.concat([DA_Location,DA_main_city], axis=1)
del DA_Location['Location_Main_city']

In [5]:
new_columns = ['pid']

for col in DA_App.columns[1:] :
    new_col = "App_" + col
    new_columns.append(new_col)
    
DA_App.columns = new_columns

In [6]:
# 범주형 변수 없음

DA_App.head()

,pid,App_app_counted,App_app_count_mean,App_app_counted_gap,App_total_usage_time,App_N,App_건강/운동,App_교육,App_금융,App_날씨,App_뉴스/잡지,App_단어,App_데이트,App_도구,App_도서/참고자료,App_동영상 플레이어/편집기,App_라이브러리/데모,App_라이프스타일,App_롤플레잉,App_만화,App_맞춤 설정,App_보드,App_부동산/홈 인테리어,App_뷰티,App_비즈니스,...,App_틸리언,App_패널나우,App_패널락,App_패널파워,App_포토,App_핀크,App_핑크다이어리,App_하나1Q페이,App_하나멤버스,App_하나카드,App_하이마트,App_한컴오피스 viewer,App_해피머니,App_해피스크린,App_해피포인트,App_허니스크린,App_현대Hmall,App_현대카드,App_현대해상,App_홈&쇼핑,App_홈쇼핑모아,App_홈플러스,App_화해,App_후스콜,App_후후
0,A0002542,52,36.9,10.0,77.487152,22.0,0.0,0.0,91.0,0.0,2.0,0.0,0.0,35.0,0.0,10.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,...,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
1,A0003204,59,30.2,20.0,157.791687,3.0,13.0,0.0,45.0,0.0,0.0,0.0,0.0,18.0,11.0,18.0,0.0,29.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0
2,A0003696,113,70.5,40.0,85.990252,10.0,0.0,34.0,71.0,12.0,10.0,0.0,0.0,50.0,34.0,11.0,0.0,171.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,10.0,0.0,0.0,6.0,7.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0
3,A0003768,74,28.5,40.0,51.288383,1.0,1.0,0.0,55.0,0.0,0.0,0.0,0.0,18.0,0.0,1.0,0.0,64.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,7.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0
4,A0008228,98,53.9,40.0,243.321904,16.0,0.0,4.0,59.0,0.0,0.0,0.0,0.0,27.0,65.0,10.0,0.0,137.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,...,0.0,6.0,6.0,9.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,9.0,10.0,0.0,0.0,0.0,0.0

In [7]:
del DA_PS['Unnamed: 0']

new_columns = ['pid']

for col in DA_PS.columns[1:] :
    new_col = "PS_" + col
    new_columns.append(new_col)
    
DA_PS.columns = new_columns

In [8]:
# 컬럼 수가 너무 많은거같은데 필요한 컬럼만 남기고 좀 줄여줘도 좋을것같음!

DA_PS.head()

,pid,PS_Ins_date,PS_BirthYear,PS_wedding,PS_sido,PS_area_group,PS_ps_banner,PS_sex,PS_v54_1,PS_v54_2,PS_v54_3,PS_v54_4,PS_v54_5,PS_v54_6,PS_v60,PS_v61_1,PS_v61_2,PS_v61_3,PS_v61_4,PS_v61_5,PS_v61_6,PS_v61_7,PS_v61_8,PS_v61_9,PS_v61_10,...,PS_v33,PS_v34,PS_v35,PS_v36,PS_v37,PS_v38,PS_v39,PS_v40,PS_v41,PS_v42,PS_v43,PS_v44,PS_v45_1,PS_v45_2,PS_v45_3,PS_v45_4,PS_v45_5,PS_v45_6,PS_v45_7,PS_v45_8,PS_v45_9,PS_v45_10,PS_v45_11,PS_v45_99,PS_v46
0,A0000910,2017-05-03 14:44:51.387,1968,1,8,1,NaN,1,NaN,NaN,NaN,1.0,1.0,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,NaN,3.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A0001355,2017-05-18 17:24:50.343,1973,2,1,1,NaN,2,NaN,NaN,NaN,NaN,NaN,1.0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A0002394,2017-09-12 17:26:11.730,1958,1,1,1,1.0,2,NaN,NaN,NaN,NaN,NaN,NaN,1,1.0,NaN,3.0,4.0,NaN,NaN,NaN,8.0,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A0002542,2017-04-26 17:21:08.350,1968,1,8,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A0003204,2018-02-19 21:12:07.370,1979,1,4,1,NaN,2,NaN,NaN,NaN,1.0,NaN,NaN,1,1.0,NaN,3.0,4.0,5.0,6.0,NaN,8.0,9.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
DA_PS = DA_PS[['pid',
 'PS_Ins_date',
 'PS_BirthYear',
 'PS_wedding',
 'PS_sido',
 'PS_area_group',
 'PS_ps_banner',
 'PS_sex','PS_phone_type',
 'PS_phone_buy_year',
 'PS_phone_buy_month',
 'PS_phone_company',
 'PS_phone_samsung',
 'PS_phone_lg',
 'PS_phone_apple',
 'PS_income',
 'PS_home_form',
 'PS_home_own',
 'PS_education',
 'PS_family_female',
 'PS_famile_male',
 'PS_family_00s',
 'PS_family_10s',
 'PS_family_20s',
 'PS_family_30s',
 'PS_family_40s',
 'PS_family_50s',
 'PS_family_60s',
 'PS_family_70s',
 'PS_age',
 'PS_ins_year',
 'PS_ins_month',
 'PS_ins_day',
 'PS_full_date',
 'PS_family_num']]

del DA_PS['PS_Ins_date']
del DA_PS['PS_full_date']

In [10]:
DA_PS.head()

,pid,PS_BirthYear,PS_wedding,PS_sido,PS_area_group,PS_ps_banner,PS_sex,PS_phone_type,PS_phone_buy_year,PS_phone_buy_month,PS_phone_company,PS_phone_samsung,PS_phone_lg,PS_phone_apple,PS_income,PS_home_form,PS_home_own,PS_education,PS_family_female,PS_famile_male,PS_family_00s,PS_family_10s,PS_family_20s,PS_family_30s,PS_family_40s,PS_family_50s,PS_family_60s,PS_family_70s,PS_age,PS_ins_year,PS_ins_month,PS_ins_day,PS_family_num
0,A0000910,1968,1,8,1,NaN,1,2,2014.0,9.0,1.0,97.0,NaN,NaN,4,2.0,1,4.0,4,0,0,1,2,0,0,1,0,4,51.0,2017,5,3,4
1,A0001355,1973,2,1,1,NaN,2,2,2016.0,8.0,2.0,NaN,13.0,NaN,4,5.0,1,4.0,2,2,0,0,0,0,2,0,0,4,46.0,2017,5,18,4
2,A0002394,1958,1,1,1,1.0,2,2,2016.0,8.0,1.0,12.0,NaN,NaN,6,2.0,1,2.0,0,2,0,0,0,1,0,0,1,1,61.0,2017,9,12,2
3,A0002542,1968,1,8,1,NaN,1,2,2016.0,2.0,1.0,97.0,NaN,NaN,4,2.0,1,4.0,2,1,0,0,2,0,1,0,0,3,51.0,2017,4,26,3
4,A0003204,1979,1,4,1,NaN,2,2,2016.0,11.0,1.0,11.0,NaN,NaN,3,4.0,3,2.0,0,2,0,1,0,0,1,0,0,2,40.0,2018,2,19,2

In [11]:
DA_final = (
DA_Location.merge(DA_App, how='left', on='pid')
    .merge(DA_PS, how='left', on='pid')
)

In [12]:
# 분류기 만들때 쓸 변수들!
# 여기에 목적 앱 바이너리 컬럼을 붙이고, 그걸 이 데이터를 통해 맞추는 식으로 하면 된다!
# app 변수 목록에 타겟 앱이 없도록 주의!
# 예륻 들어 스타벅스의 경우 app_스타벅스를 빼고, AR_App의 스타벅스 컬럼을 타겟으로 분류기 만들면 됨

DA_final.head()

,pid,Location_CU,Location_GS25,Location_KFC,Location_THE FACE SHOP,Location_UNIQLO,Location_다이소,Location_던킨도너츠,Location_뚜레쥬르,Location_롯데리아,Location_맘스터치,Location_매표소/로비/휴게소,Location_맥도날드,Location_배스킨라빈스,Location_버거킹,Location_분당선,Location_빽다방,Location_서울5호선,Location_설빙,Location_세븐일레븐,Location_스타벅스,Location_엔제리너스,Location_올리브영,Location_이디야,Location_투썸플레이스,...,PS_phone_buy_year,PS_phone_buy_month,PS_phone_company,PS_phone_samsung,PS_phone_lg,PS_phone_apple,PS_income,PS_home_form,PS_home_own,PS_education,PS_family_female,PS_famile_male,PS_family_00s,PS_family_10s,PS_family_20s,PS_family_30s,PS_family_40s,PS_family_50s,PS_family_60s,PS_family_70s,PS_age,PS_ins_year,PS_ins_month,PS_ins_day,PS_family_num
0,A0002542,5.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2016.0,2.0,1.0,97.0,NaN,NaN,4,2.0,1,4.0,2,1,0,0,2,0,1,0,0,3,51.0,2017,4,26,3
1,A0003204,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2016.0,11.0,1.0,11.0,NaN,NaN,3,4.0,3,2.0,0,2,0,1,0,0,1,0,0,2,40.0,2018,2,19,2
2,A0003696,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2017.0,8.0,1.0,17.0,NaN,NaN,3,5.0,1,4.0,0,3,0,2,0,0,1,0,0,3,46.0,2017,9,7,3
3,A0003768,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,2015.0,12.0,1.0,11.0,NaN,NaN,4,2.0,1,4.0,1,2,2,0,0,0,1,0,0,3,39.0,2018,1,11,3
4,A0008228,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,2013.0,4.0,1.0,18.0,NaN,NaN,4,2.0,1,4.0,1,1,0,0,1,0,0,0,1,1,61.0,2018,5,4,2

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

In [13]:
freq_mise = AR_App[['panel_id','미세미세']]

In [14]:
freq_mise.head()

   panel_id  미세미세
0  A0002542   0.0
1  A0003204   0.0
2  A0003696   1.0
3  A0003768   0.0
4  A0008228   0.0

In [15]:
# 이미 알지만 freq check

freq_mise.sum()

panel_id    A0002542A0003204A0003696A0003768A0008228A00091...
미세미세                                                     1279
dtype: object

In [ ]:
del DA_final['App_미세미세']

In [17]:
DA_mise = freq_mise.merge(DA_final, how='left', left_on='panel_id', right_on='pid')

In [18]:
del DA_mise['panel_id']
del DA_mise['pid']

In [19]:
DA_mise.head()

,미세미세,Location_CU,Location_GS25,Location_KFC,Location_THE FACE SHOP,Location_UNIQLO,Location_다이소,Location_던킨도너츠,Location_뚜레쥬르,Location_롯데리아,Location_맘스터치,Location_매표소/로비/휴게소,Location_맥도날드,Location_배스킨라빈스,Location_버거킹,Location_분당선,Location_빽다방,Location_서울5호선,Location_설빙,Location_세븐일레븐,Location_스타벅스,Location_엔제리너스,Location_올리브영,Location_이디야,Location_투썸플레이스,...,PS_phone_buy_year,PS_phone_buy_month,PS_phone_company,PS_phone_samsung,PS_phone_lg,PS_phone_apple,PS_income,PS_home_form,PS_home_own,PS_education,PS_family_female,PS_famile_male,PS_family_00s,PS_family_10s,PS_family_20s,PS_family_30s,PS_family_40s,PS_family_50s,PS_family_60s,PS_family_70s,PS_age,PS_ins_year,PS_ins_month,PS_ins_day,PS_family_num
0,0.0,5.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2016.0,2.0,1.0,97.0,NaN,NaN,4,2.0,1,4.0,2,1,0,0,2,0,1,0,0,3,51.0,2017,4,26,3
1,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2016.0,11.0,1.0,11.0,NaN,NaN,3,4.0,3,2.0,0,2,0,1,0,0,1,0,0,2,40.0,2018,2,19,2
2,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2017.0,8.0,1.0,17.0,NaN,NaN,3,5.0,1,4.0,0,3,0,2,0,0,1,0,0,3,46.0,2017,9,7,3
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,2015.0,12.0,1.0,11.0,NaN,NaN,4,2.0,1,4.0,1,2,2,0,0,0,1,0,0,3,39.0,2018,1,11,3
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,2013.0,4.0,1.0,18.0,NaN,NaN,4,2.0,1,4.0,1,1,0,0,1,0,0,0,1,1,61.0,2018,5,4,2

In [51]:
cat_col = ['PS_wedding', 'PS_sido', 'PS_area_group',
       'PS_ps_banner', 'PS_sex', 'PS_phone_type',
       'PS_phone_buy_month', 'PS_phone_company', 'PS_phone_samsung',
       'PS_phone_lg', 'PS_phone_apple', 'PS_home_form',
       'PS_home_own']

column_dict = pd.DataFrame(DA_mise.columns).reset_index().rename(columns={'index':'feature_number', 0:'feature'})
num_cat_col = list(column_dict[lambda x: x['feature'].isin(cat_col)]['feature_number'])

In [52]:
column_dict[lambda x: x['feature'].isin(cat_col)]

     feature_number             feature
418             418          PS_wedding
419             419             PS_sido
420             420       PS_area_group
421             421        PS_ps_banner
422             422              PS_sex
423             423       PS_phone_type
425             425  PS_phone_buy_month
426             426    PS_phone_company
427             427    PS_phone_samsung
428             428         PS_phone_lg
429             429      PS_phone_apple
431             431        PS_home_form
432             432         PS_home_own

In [23]:

DA_mise[['PS_wedding', 'PS_sido', 'PS_area_group',
       'PS_ps_banner', 'PS_sex', 'PS_phone_type',
       'PS_phone_buy_month', 'PS_phone_company', 'PS_phone_samsung',
       'PS_phone_lg', 'PS_phone_apple', 'PS_home_form',
       'PS_home_own']] = \
DA_mise[['PS_wedding', 'PS_sido', 'PS_area_group',
       'PS_ps_banner', 'PS_sex', 'PS_phone_type',
       'PS_phone_buy_month', 'PS_phone_company', 'PS_phone_samsung',
       'PS_phone_lg', 'PS_phone_apple', 'PS_home_form',
       'PS_home_own']].fillna(0).applymap(lambda x: str(int(x)))

In [24]:
DA_mise[['PS_wedding', 'PS_sido', 'PS_area_group',
       'PS_ps_banner', 'PS_sex', 'PS_phone_type',
       'PS_phone_buy_month', 'PS_phone_company', 'PS_phone_samsung',
       'PS_phone_lg', 'PS_phone_apple', 'PS_home_form',
       'PS_home_own']].isnull().sum()

PS_wedding            0
PS_sido               0
PS_area_group         0
PS_ps_banner          0
PS_sex                0
PS_phone_type         0
PS_phone_buy_month    0
PS_phone_company      0
PS_phone_samsung      0
PS_phone_lg           0
PS_phone_apple        0
PS_home_form          0
PS_home_own           0
dtype: int64

In [25]:
DA_mise = DA_mise.fillna(0)

In [48]:
del DA_mise['App_날씨']

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

In [26]:
import pandas as pd
import numpy as np 
from sklearn import preprocessing
from sklearn.cross_validation import cross_val_score, train_test_split

# Models for Classification
# from xgboost import XGBClassifier
from catboost import CatBoostClassifier
# from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
# from lightgbm import LGBMClassifier

/opt/conda/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [27]:
from sklearn import pipeline, metrics
from sklearn.utils import shuffle

from sklearn.metrics import auc, f1_score, accuracy_score, log_loss
my_scorer = metrics.make_scorer(auc, greater_is_better = True)

In [29]:
DA_mise.head()

,미세미세,Location_CU,Location_GS25,Location_KFC,Location_THE FACE SHOP,Location_UNIQLO,Location_다이소,Location_던킨도너츠,Location_뚜레쥬르,Location_롯데리아,Location_맘스터치,Location_매표소/로비/휴게소,Location_맥도날드,Location_배스킨라빈스,Location_버거킹,Location_분당선,Location_빽다방,Location_서울5호선,Location_설빙,Location_세븐일레븐,Location_스타벅스,Location_엔제리너스,Location_올리브영,Location_이디야,Location_투썸플레이스,...,PS_phone_buy_year,PS_phone_buy_month,PS_phone_company,PS_phone_samsung,PS_phone_lg,PS_phone_apple,PS_income,PS_home_form,PS_home_own,PS_education,PS_family_female,PS_famile_male,PS_family_00s,PS_family_10s,PS_family_20s,PS_family_30s,PS_family_40s,PS_family_50s,PS_family_60s,PS_family_70s,PS_age,PS_ins_year,PS_ins_month,PS_ins_day,PS_family_num
0,0.0,5.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2016.0,2,1,97,0,0,4,2,1,4.0,2,1,0,0,2,0,1,0,0,3,51.0,2017,4,26,3
1,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2016.0,11,1,11,0,0,3,4,3,2.0,0,2,0,1,0,0,1,0,0,2,40.0,2018,2,19,2
2,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2017.0,8,1,17,0,0,3,5,1,4.0,0,3,0,2,0,0,1,0,0,3,46.0,2017,9,7,3
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,2015.0,12,1,11,0,0,4,2,1,4.0,1,2,2,0,0,0,1,0,0,3,39.0,2018,1,11,3
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,2013.0,4,1,18,0,0,4,2,1,4.0,1,1,0,0,1,0,0,0,1,1,61.0,2018,5,4,2

In [53]:
features = DA_mise.columns[1:]

In [54]:
cbc = CatBoostClassifier(
 learning_rate =0.1,
 iterations=100,
#  loss_function='MultiClass'
)

In [55]:
num_cat_col

[418, 419, 420, 421, 422, 423, 425, 426, 427, 428, 429, 431, 432]

In [56]:
cbc.fit(DA_mise[features], DA_mise['미세미세'], cat_features = num_cat_col)

0:	learn: 0.6209264	total: 76.8ms	remaining: 7.6s
1:	learn: 0.5623485	total: 119ms	remaining: 5.84s
2:	learn: 0.5214705	total: 160ms	remaining: 5.18s
3:	learn: 0.4895191	total: 208ms	remaining: 4.99s
4:	learn: 0.4618069	total: 250ms	remaining: 4.76s
5:	learn: 0.4401121	total: 290ms	remaining: 4.55s
6:	learn: 0.4246473	total: 333ms	remaining: 4.43s
7:	learn: 0.4123733	total: 370ms	remaining: 4.25s
8:	learn: 0.4029845	total: 403ms	remaining: 4.08s
9:	learn: 0.3926392	total: 438ms	remaining: 3.95s
10:	learn: 0.3845660	total: 475ms	remaining: 3.84s
11:	learn: 0.3778227	total: 508ms	remaining: 3.72s
12:	learn: 0.3713744	total: 542ms	remaining: 3.62s
13:	learn: 0.3674623	total: 578ms	remaining: 3.55s
14:	learn: 0.3644435	total: 611ms	remaining: 3.46s
15:	learn: 0.3617332	total: 645ms	remaining: 3.39s
16:	learn: 0.3576784	total: 681ms	remaining: 3.33s
17:	learn: 0.3540584	total: 716ms	remaining: 3.26s
18:	learn: 0.3518687	total: 750ms	remaining: 3.2s
19:	learn: 0.3494335	total: 785ms	remaining: 3.14s
20:	learn: 0.3476759	total: 819ms	remaining: 3.08s
21:	learn: 0.3463853	total: 854ms	remaining: 3.03s
22:	learn: 0.3450539	total: 889ms	remaining: 2.98s
23:	learn: 0.3437505	total: 925ms	remaining: 2.93s
24:	learn: 0.3426146	total: 960ms	remaining: 2.88s
25:	learn: 0.3418925	total: 994ms	remaining: 2.83s
26:	learn: 0.3406718	total: 1.03s	remaining: 2.78s
27:	learn: 0.3396988	total: 1.06s	remaining: 2.73s
28:	learn: 0.3386105	total: 1.1s	remaining: 2.69s
29:	learn: 0.3372544	total: 1.13s	remaining: 2.65s
30:	learn: 0.3365665	total: 1.17s	remaining: 2.6s
31:	learn: 0.3357813	total: 1.21s	remaining: 2.57s
32:	learn: 0.3350731	total: 1.24s	remaining: 2.52s
33:	learn: 0.3342819	total: 1.27s	remaining: 2.47s
34:	learn: 0.3335603	total: 1.31s	remaining: 2.43s
35:	learn: 0.3327245	total: 1.34s	remaining: 2.39s
36:	learn: 0.3319820	total: 1.38s	remaining: 2.35s
37:	learn: 0.3307604	total: 1.42s	remaining: 2.31s
38:	learn: 0.3298862	total: 1.45s	remaining: 2.27s
39:	learn: 0.3295506	total: 1.49s	remaining: 2.23s
40:	learn: 0.3291942	total: 1.51s	remaining: 2.18s
41:	learn: 0.3286672	total: 1.55s	remaining: 2.15s
42:	learn: 0.3280911	total: 1.6s	remaining: 2.12s
43:	learn: 0.3273595	total: 1.63s	remaining: 2.08s
44:	learn: 0.3268936	total: 1.67s	remaining: 2.04s
45:	learn: 0.3264656	total: 1.7s	remaining: 2s
46:	learn: 0.3261882	total: 1.73s	remaining: 1.96s
47:	learn: 0.3257085	total: 1.77s	remaining: 1.91s
48:	learn: 0.3252226	total: 1.8s	remaining: 1.87s
49:	learn: 0.3246365	total: 1.83s	remaining: 1.83s
50:	learn: 0.3241317	total: 1.87s	remaining: 1.79s
51:	learn: 0.3236848	total: 1.9s	remaining: 1.75s
52:	learn: 0.3232983	total: 1.93s	remaining: 1.71s
53:	learn: 0.3231275	total: 1.96s	remaining: 1.67s
54:	learn: 0.3229009	total: 1.99s	remaining: 1.63s
55:	learn: 0.3223901	total: 2.02s	remaining: 1.59s
56:	learn: 0.3222300	total: 2.06s	remaining: 1.55s
57:	learn: 0.3217531	total: 2.09s	remaining: 1.51s
58:	learn: 0.3214479	total: 2.13s	remaining: 1.48s
59:	learn: 0.3207968	total: 2.17s	remaining: 1.44s
60:	learn: 0.3202264	total: 2.2s	remaining: 1.41s
61:	learn: 0.3200695	total: 2.23s	remaining: 1.37s
62:	learn: 0.3193829	total: 2.27s	remaining: 1.33s
63:	learn: 0.3187533	total: 2.3s	remaining: 1.29s
64:	learn: 0.3183193	total: 2.33s	remaining: 1.26s
65:	learn: 0.3178227	total: 2.36s	remaining: 1.22s
66:	learn: 0.3175393	total: 2.39s	remaining: 1.18s
67:	learn: 0.3168359	total: 2.43s	remaining: 1.14s
68:	learn: 0.3162811	total: 2.46s	remaining: 1.11s
69:	learn: 0.3158218	total: 2.5s	remaining: 1.07s
70:	learn: 0.3152143	total: 2.53s	remaining: 1.03s
71:	learn: 0.3147432	total: 2.56s	remaining: 997ms
72:	learn: 0.3143988	total: 2.6s	remaining: 961ms
73:	learn: 0.3138457	total: 2.63s	remaining: 925ms
74:	learn: 0.3136018	total: 2.66s	remaining: 888ms
75:	learn: 0.3129592	total: 2.7s	remaining: 853ms
76:	learn: 0.3125075	total: 2.73s	remaining: 817ms
77:	learn: 0.3119413	total: 2.77s	remaining: 782ms
78:	learn: 0.3114836	total: 2.81s	remaining: 746ms
79:	learn: 0.3110667	total: 2.84s	remaining: 711ms
80:	learn: 0.3108648	total: 2.87s	remaining: 674ms
81:	learn: 0.3106039	total: 2.91s	remaining: 639ms
82:	learn: 0.3104631	total: 2.94s	remaining: 603ms
83:	learn: 0.3101763	total: 2.98s	remaining: 568ms
84:	learn: 0.3094565	total: 3.02s	remaining: 532ms
85:	learn: 0.3089173	total: 3.05s	remaining: 497ms
86:	learn: 0.3084865	total: 3.08s	remaining: 461ms
87:	learn: 0.3081589	total: 3.12s	remaining: 425ms
88:	learn: 0.3077637	total: 3.15s	remaining: 390ms
89:	learn: 0.3068974	total: 3.19s	remaining: 354ms
90:	learn: 0.3067872	total: 3.22s	remaining: 318ms
91:	learn: 0.3062496	total: 3.26s	remaining: 283ms
92:	learn: 0.3059021	total: 3.29s	remaining: 248ms
93:	learn: 0.3053949	total: 3.33s	remaining: 212ms
94:	learn: 0.3050241	total: 3.36s	remaining: 177ms
95:	learn: 0.3045692	total: 3.4s	remaining: 141ms
96:	learn: 0.3040226	total: 3.43s	remaining: 106ms
97:	learn: 0.3037900	total: 3.46s	remaining: 70.7ms
98:	learn: 0.3034425	total: 3.5s	remaining: 35.3ms
99:	learn: 0.3028913	total: 3.53s	remaining: 0us

In [57]:
cbc.score(DA_mise[features], DA_mise['미세미세'])

0.88203697965086247

In [58]:
from catboost import Pool
p = Pool(DA_mise[features], DA_mise['미세미세'], cat_features = num_cat_col)

In [59]:
cbc.get_feature_importance(p)

[0.0,
 0.0,
 0.005102684107292054,
 0.0,
 0.0,
 0.0,
 0.0,
 0.3389225547174146,
 0.011317693994669581,
 0.04298070330635434,
 0.0,
 0.005400305725877073,
 0.0,
 0.0,
 0.0,
 0.039509563054586846,
 0.0,
 0.04222453763929909,
 0.011938127473028776,
 0.0,
 0.05481426062713239,
 0.0,
 0.0,
 0.02561084079901456,
 0.24380636715971765,
 0.0,
 0.0021053866977048872,
 0.21132494993940176,
 0.0,
 0.44866615001645943,
 0.0022341106053607213,
 0.2602285996842,
 0.0,
 0.32358783760710735,
 0.009916442491430229,
 0.0,
 0.03439699961016004,
 0.0,
 0.0,
 0.13939292014796154,
 0.1464933869017154,
 0.0,
 0.009998635385017106,
 0.0,
 0.1114571348228444,
 0.016613319462403662,
 0.19702477290211717,
 0.0001763039525690852,
 0.0,
 0.14484938887925816,
 0.0,
 0.000298575499391623,
 0.0,
 0.0007751216963647462,
 0.0,
 0.059843873774699,
 0.015993648013012035,
 0.22014221041964838,
 0.0,
 0.0,
 0.0,
 0.0,
 0.25042419038361186,
 0.07506458869722604,
 0.06553144814969454,
 0.2010902813000476,
 0.18889049185654083,
 0.23353684180951972,
 0.2059180293411455,
 0.36353392074840746,
 0.17443867854701386,
 0.03206948007881421,
 0.30952874096897515,
 0.14399448066548654,
 0.0,
 0.0,
 0.05973066317953288,
 0.0,
 0.0,
 0.0,
 0.2152516655219355,
 0.0,
 0.0,
 0.0,
 0.1930118383442162,
 0.17999917569959267,
 0.18126012237627967,
 0.0,
 0.0,
 0.0,
 1.024946759305152,
 0.4778213988500035,
 0.4816762152127171,
 2.3533402516572055,
 0.07880993284420196,
 0.8961134665462192,
 2.234576769909386,
 0.3331282871991603,
 0.019311522889731834,
 0.0,
 0.7055198614786099,
 0.22423205695518036,
 0.10775281704068493,
 0.14325251119472188,
 0.03689300096448567,
 1.2782924579456427,
 0.0,
 0.0,
 0.1029507645851716,
 0.0,
 0.013034773487133035,
 0.0,
 0.03944990566582805,
 0.16144907737862912,
 0.35993417278300793,
 0.0322021401824628,
 0.32011176063399904,
 0.0,
 0.1552283458720401,
 1.0377349245023215,
 0.003800530175227303,
 0.14492951572051088,
 0.02008326547151417,
 0.0,
 0.36081775104510033,
 0.0,
 0.0,
 0.0,
 0.17051548171296882,
 0.021691980459457038,
 0.8539053236891447,
 0.00033842472053267474,
 0.014281313338857586,
 0.31467261318988615,
 5.12793029960351,
 0.0,
 0.13103703045349416,
 0.06929122379283432,
 0.005641169136436317,
 0.007456382048604653,
 0.025467678868325343,
 0.34580700906716627,
 0.17798619712278765,
 0.0,
 0.10929619994882235,
 0.0,
 0.0,
 0.0,
 0.47271997581525527,
 0.0,
 0.0,
 0.4852598124006197,
 0.0,
 0.0,
 0.0,
 0.0,
 0.22099656414399893,
 0.0,
 1.5258481915723883,
 0.1886565775603099,
 0.0,
 0.2761194620608889,
 0.0,
 0.3847703941029355,
 0.19629910412528712,
 0.015282626382901097,
 0.0,
 0.0,
 0.0,
 0.3244513405770573,
 0.7410769896810554,
 0.0,
 0.10841917872110086,
 0.24490200566177012,
 0.0,
 0.0,
 0.2646232843997706,
 0.0,
 0.09576915549201902,
 0.0,
 0.0,
 0.0,
 0.06483277316423074,
 0.0,
 0.14646157689988257,
 0.0,
 0.04926888226305605,
 0.0,
 1.171453593412426,
 0.0,
 0.0,
 0.15827983435020657,
 0.0,
 0.0,
 0.032820221752848745,
 0.0,
 0.0,
 0.0,
 0.0,
 0.05735875705709726,
 0.195928225885793,
 0.023856993256811777,
 0.0,
 0.02424348729253285,
 0.016488065647781255,
 0.0,
 0.0,
 0.17251366568421211,
 0.0,
 0.0,
 0.028148355104961584,
 0.2979465982974693,
 0.13950993768386827,
 0.0,
 0.022113947572691812,
 0.0,
 0.1123982389730803,
 0.0,
 0.018932202341366944,
 0.0,
 0.10498835715852355,
 0.0,
 0.0,
 0.14842907571799746,
 0.09097879575999562,
 0.0,
 0.06879207590861601,
 0.0,
 0.0,
 0.0,
 0.10692248104066152,
 0.0,
 0.0,
 0.0,
 0.0058540682943595485,
 0.2730577372580398,
 0.00012093228836381247,
 0.08163609106115903,
 0.0,
 0.0,
 0.30424011125493666,
 0.0,
 0.0,
 0.7079538040986831,
 0.047096685235278886,
 0.0,
 0.05238697966567488,
 0.0,
 0.025045544310302363,
 0.21513249627826436,
 0.31861177425876724,
 0.23124833950901041,
 0.0,
 0.0,
 0.3096887269005712,
 0.2049276990525191,
 0.0,
 0.0,
 0.871388761146222,
 7.793207189314749,
 0.6407550879944185,
 0.14497053504587246,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0247906630198902,
 0.04725781195628901,
 0.0,
 0.09467843250401746,
 0.0,
 0.0544809497473812,
 0.10272559235014504,
 0.5280964062653225,
 0.0,
 0.4932185656028109,
 0.0,
 0.0,
 0.0,
 0.2623366144388546,
 0.10564344699383048,
 0.0,
 0.386047686556053,
 0.00072754391497922,
 0.019290376886811,
 0.154542438994226,
 0.011777006611397156,
 0.0,
 0.35738240690060474,
 0.0321700895213186,
 0.31585925544139987,
 0.0,
 0.0585773247757218,
 0.4911235747692832,
 0.5385641030905038,
 0.0019928197516221173,
 0.09871258135379316,
 0.08577564245386937,
 0.20586753338202327,
 0.0,
 0.06748361528554127,
 0.0,
 0.0,
 0.02330619518030058,
 0.0,
 0.1228195819529313,
 0.0,
 0.0,
 0.0,
 0.0,
 0.6450884578538346,
 1.340517543238149,
 0.06496626259064367,
 0.13436050200608465,
 0.2895297684893358,
 0.0,
 0.11252933464353566,
 0.40020706867828304,
 0.384388480326187,
 0.44082546022339425,
 0.5567373798996731,
 0.3536501734470504,
 0.29762921232148376,
 0.0,
 0.0,
 0.18991554358961935,
 0.07857164484749674,
 0.0,
 0.0032741503706628875,
 0.0,
 0.6556299948038002,
 0.15168073922832362,
 0.20237734195601792,
 0.19848031348018036,
 0.0,
 0.0,
 0.13713111524596486,
 0.15862321211931926,
 0.0,
 0.12003319729860772,
 0.0,
 0.0,
 0.23758271842046452,
 0.0,
 0.0,
 0.0008867822822873357,
 0.0,
 0.5846219107120776,
 0.24139061645844537,
 1.368841122902685,
 0.0002004889023472384,
 0.6265841534143202,
 0.0,
 0.2138414757299779,
 0.1116450162986779,
 0.10704183937291685,
 0.007248418107003858,
 0.0,
 0.0,
 0.20758790520268044,
 0.0,
 0.4036017161248919,
 0.0,
 0.6389150300016959,
 0.20739317614145292,
 1.0669818349558848,
 0.0,
 0.0,
 0.7132310542123246,
 0.0,
 0.16257615113213733,
 0.3714465039348819,
 0.17156821837717318,
 0.3794036071440528,
 0.0,
 0.09991100688171456,
 0.0,
 0.03943853118654536,
 0.33844626723328375,
 0.06379102016251749,
 0.20703207470145277,
 0.20360112391667579,
 0.0,
 0.04079392886116873,
 0.20895640201536192,
 0.8288608968746715,
 0.6224564629907887,
 0.4104898540140314,
 0.3014307331934891,
 0.07650476565287292,
 0.0,
 0.22290288206022482,
 0.0,
 0.0,
 0.08524697044086407,
 0.4023244915537216,
 0.17278880405523372,
 0.0,
 0.0,
 0.0,
 0.07999450695667218,
 0.0,
 0.0,
 0.22199513466927626,
 0.362037405156324,
 0.0,
 0.0,
 0.11815801387945302,
 0.0,
 0.12531491903523773,
 0.08795545184587224,
 0.24242570282292145,
 1.207554893001268,
 1.474681241312442,
 0.2632407737862449,
 0.5570296333928036,
 2.6545729569854717,
 2.6456800102240625,
 0.051602150926526445,
 0.1885006577417033,
 0.0,
 2.0851088132957107,
 0.0010555916212216013,
 0.0,
 0.0,
 0.5329282701248295,
 0.0,
 0.0,
 0.1235462747757499,
 0.0,
 0.6678205818106585,
 0.26333448534766124,
 0.42633152006630654,
 0.538433774998221,
 0.014410061632437672,
 7.581187100734513,
 0.0,
 0.0,
 0.5270805095905513,
 0.0,
 0.0,
 0.0,
 0.0,
 3.6189246852695276,
 0.0,
 0.23786755279809735,
 0.330118667168476,
 0.22382956972738416]

In [41]:
cbc.eval_metrics(p, metrics = ['Accuracy','AUC'])

{'AUC': [0.9572147087359035,
  0.9681614117343147,
  0.9686218553644941,
  0.9711058128868011,
  0.9750804892315933,
  0.9755358147535147,
  0.9763684844388105,
  0.9767684413350335,
  0.9772641999121918,
  0.9777671238409114,
  0.9777282262181517,
  0.978114922561161,
  0.9785084120296761,
  0.9787004341458594,
  0.9787512895306397,
  0.9789604340453584,
  0.9791374740628231,
  0.9793101869523972,
  0.979546736610424,
  0.9798014322886375,
  0.9798460994152516,
  0.9801966433026575,
  0.980623772700904,
  0.9808426416213125,
  0.9809850180873946,
  0.9812055620250512,
  0.981337143935535,
  0.9817327271756101,
  0.9819587614475797,
  0.9821429202883486,
  0.9824084105221605,
  0.9825534856271423,
  0.9827215456910274,
  0.9830782313083429,
  0.9831034496235771,
  0.9834546449065796,
  0.9834915883425499,
  0.9836254966658782,
  0.9836380592952384,
  0.9838575796112434,
  0.9839374221000659,
  0.9841118100068881,
  0.9842620032201276,
  0.9843738571496902,
  0.9846021247779905,
  0.984713978707553,
  0.984846677296202,
  0.9850294402892643,
  0.9851629763865374,
  0.9851797265590176,
  0.9853829619851113,
  0.9854065052830975,
  0.9856404493587383,
  0.9856850234288385,
  0.9857455101627949,
  0.9858762545646547,
  0.9858960756020896,
  0.9860217018956915,
  0.9860777219169865,
  0.9861312294124095,
  0.9863090604102415,
  0.9864961970594514,
  0.9865766909438703,
  0.9866928254730667,
  0.9867612220106944,
  0.9868357602782315,
  0.9869222097795324,
  0.9869618518544023,
  0.9869644574367881,
  0.9870094967894573,
  0.987128423014067,
  0.9871826749616003,
  0.9873815367315463,
  0.9873899118177865,
  0.987395122982558,
  0.9874886447789061,
  0.9876891815661002,
  0.9878286732802551,
  0.9878323955408063,
  0.9880643854296578,
  0.988201643787482,
  0.9884259099856898,
  0.9885764754249844,
  0.9886744639339939,
  0.9888704409520128,
  0.9890244494823173,
  0.9891033614060021,
  0.9891004766540749,
  0.989117692109124,
  0.9892648144574089,
  0.989363361305501,
  0.9895560813455376,
  0.9898657734233947,
  0.990059051802514,
  0.9901772335750135,
  0.9902723373320959,
  0.9902975556473299,
  0.990415923532857,
  0.9905074911424158,
  0.9905787724319706],
 'Accuracy': [0.9206693523396343,
  0.9215990083669042,
  0.9210825327961988,
  0.93151533932445,
  0.9327548806941431,
  0.9343043074062597,
  0.9353372585476707,
  0.9367833901456462,
  0.9363702096890817,
  0.9371965706022105,
  0.9378163412870572,
  0.9380229315153393,
  0.9391591777708914,
  0.9387459973143271,
  0.9393657679991736,
  0.9394690631133148,
  0.9392624728850325,
  0.939675653341597,
  0.9393657679991736,
  0.9395723582274559,
  0.9397789484557381,
  0.9400888337981613,
  0.9416382605102779,
  0.9420514409668422,
  0.9416382605102779,
  0.9425679165375478,
  0.9437041627930999,
  0.9437041627930999,
  0.9440140481355231,
  0.9445305237062287,
  0.9450469992769343,
  0.9451502943910753,
  0.9453568846193575,
  0.945873360190063,
  0.9457700650759219,
  0.945873360190063,
  0.9464931308749096,
  0.9466997211031918,
  0.9470096064456152,
  0.9480425575870262,
  0.947835967358744,
  0.9482491478153083,
  0.9489722136142961,
  0.9496952794132838,
  0.9501084598698482,
  0.9502117549839892,
  0.9507282305546948,
  0.9504183452122714,
  0.9502117549839892,
  0.9502117549839892,
  0.9505216403264125,
  0.9505216403264125,
  0.9513480012395413,
  0.9510381158971181,
  0.9508315256688359,
  0.9512447061254002,
  0.9512447061254002,
  0.9514512963536824,
  0.9514512963536824,
  0.9516578865819647,
  0.9517611816961058,
  0.9520710670385291,
  0.9521743621526702,
  0.9526908377233757,
  0.9524842474950935,
  0.9526908377233757,
  0.9531040181799401,
  0.9531040181799401,
  0.9531040181799401,
  0.9527941328375168,
  0.9531040181799401,
  0.953000723065799,
  0.9532073132940811,
  0.9532073132940811,
  0.9532073132940811,
  0.9537237888647867,
  0.9541369693213511,
  0.9544468546637744,
  0.9544468546637744,
  0.9551699204627621,
  0.9545501497779155,
  0.9555831009193265,
  0.9557896911476087,
  0.9557896911476087,
  0.9562028716041732,
  0.9564094618324553,
  0.9569259374031608,
  0.9569259374031608,
  0.9569259374031608,
  0.9573391178597253,
  0.9574424129738663,
  0.9583720690011363,
  0.9589918396859829,
  0.9591984299142651,
  0.9597149054849705,
  0.9605412663980993,
  0.9606445615122404,
  0.961161037082946,
  0.9614709224253692,
  0.9617808077677926]}

In [60]:
mise_FE = pd.DataFrame(features)
mise_FE['importance'] = cbc.get_feature_importance(p)
mise_FE = mise_FE.rename(columns={0:'feature'})

In [61]:
mise_FE.sort_values(by='importance', ascending=False)

                           feature  importance
259                     App_네이버 카페    7.793207
435                  PS_family_00s    7.581187
134                      App_출산/육아    5.127930
443                         PS_age    3.618925
416                   PS_BirthYear    2.654573
417                     PS_wedding    2.645680
93            App_total_usage_time    2.353340
96                          App_교육    2.234577
421                         PS_sex    2.085109
158                   App_Facebook    1.525848
413                         App_화해    1.474681
349                       App_이마트몰    1.368841
311                       App_스타벅스    1.340518
105                     App_라이프스타일    1.278292
412                       App_홈플러스    1.207555
188                  App_Messenger    1.171454
365                       App_카카오맵    1.066982
119                        App_식음료    1.037735
90                 App_app_counted    1.024947
266                       App_다음카페    1.024791
95                       App_건강/운동    0.896113
258                     App_네이버 지도    0.871389
130                        App_자동차    0.853905
385                         App_쿠팡    0.828861
170                  App_Instagram    0.741077
368                     App_카카오스토리    0.713231
243                        App_계산기    0.707954
100                        App_데이트    0.705520
430                   PS_home_form    0.667821
330                    App_예스24 도서    0.655630
310                      App_스마트택배    0.645088
260                    App_네이버 캘린더    0.640755
363                      App_카카오 T    0.638915
351                       App_인터파크    0.626584
386                       App_키즈노트    0.622456
347                     App_이디야멤버스    0.584622
415                         App_후후    0.557030
320                        App_알라딘    0.556737
294                        App_배달통    0.538564
433               PS_family_female    0.538434
425               PS_phone_company    0.532928
273                      App_똑똑가계부    0.528096
438                  PS_family_30s    0.527081
275                         App_라임    0.493219
293                      App_배달의민족    0.491124
151                  App_CJ대한통운 택배    0.485260
92             App_app_counted_gap    0.481676
91              App_app_count_mean    0.477821
148                        App_CGV    0.472720
29         Location_Subway Station    0.448666
..                             ...         ...
304                        App_사람인    0.000000
306                      App_삼성앱카드    0.000000
307                       App_삼성카드    0.000000
308                      App_서베이링크    0.000000
309                      App_세븐일레븐    0.000000
111                         App_뷰티    0.000000
315                       App_신한카드    0.000000
107                         App_만화    0.000000
106                       App_롤플레잉    0.000000
89                    Location__충북    0.000000
150                     App_CJmall    0.000000
323                        App_알약M    0.000000
324                        App_앱프리    0.000000
88                    Location__충남    0.000000
327                        App_엘롯데    0.000000
329                   App_예스24 NEB    0.000000
87                    Location__제주    0.000000
83                    Location__울산    0.000000
82                    Location__세종    0.000000
81                    Location__서울    0.000000
334                  App_올레 tv 모바일    0.000000
335                       App_올리브영    0.000000
299                      App_보안 폴더    0.000000
117                        App_스포츠    0.000000
123                     App_엔터테인먼트    0.000000
291                       App_방치타임    0.000000
149                     App_CJ ONE    0.000000
256                    App_네이버 오피스    0.000000
257                     App_네이버 웹툰    0.000000
147                       App_BAND    0.000000
146                       App_B612    0.000000
145  App_AhnLab V3 Mobile Security    0.000000
143                  App_AfreecaTV    0.000000
262                      App_네이버TV    0.000000
263                        App_네이트    0.000000
264                         App_다음    0.000000
265                      App_다음 웹툰    0.000000
268                     App_더퀴즈라이브    0.000000
270                      App_두잇서베이    0.000000
274                      App_똑똑계산기    0.000000
135                         App_카드    0.000000
276                         App_롭스    0.000000
277                       App_롯데닷컴    0.000000
278                       App_롯데리아    0.000000
281                      App_롯데시네마    0.000000
127                     App_음악/오디오    0.000000
287                App_모바일 T world    0.000000
126                         App_음악    0.000000
125                     App_예술/디자인    0.000000
0                      Location_CU    0.000000

[448 rows x 2 columns]

In [62]:
DA_mise.groupby('미세미세')['App_네이버 카페'].agg([np.mean, np.std, np.median])

          mean       std  median
미세미세
0.0   2.674125  4.097342     0.0
1.0   5.096169  4.665256     6.0

In [63]:
DA_mise.groupby('미세미세')['PS_family_00s'].agg([np.mean, np.std, np.median])

          mean       std  median
미세미세
0.0   0.311711  0.624522       0
1.0   0.688819  0.803041       0

In [64]:
DA_mise.groupby('미세미세')['App_출산/육아'].agg([np.mean, np.std, np.median])

          mean       std  median
미세미세
0.0   0.664723  3.258504     0.0
1.0   2.693511  6.667949     0.0

In [65]:
DA_mise.groupby('미세미세')['PS_age'].agg([np.mean, np.std, np.median])

           mean        std  median
미세미세
0.0   35.962866  10.832694    36.0
1.0   35.336982   7.598789    36.0

In [66]:
DA_mise.groupby('미세미세')['PS_sex'].value_counts()

미세미세  PS_sex
0.0   2         4874
      1         3528
1.0   2          970
      1          309
Name: PS_sex, dtype: int64

In [68]:
DA_mise.groupby('미세미세')['App_이마트몰'].agg([np.mean, np.std, np.median])

          mean       std  median
미세미세
0.0   0.458700  1.657214     0.0
1.0   0.980453  2.349460     0.0

In [69]:
DA_mise.groupby('미세미세')['App_Messenger'].agg([np.mean, np.std, np.median])

          mean       std  median
미세미세
0.0   1.418234  2.928955     0.0
1.0   0.790461  2.231837     0.0

In [70]:
DA_mise.groupby('미세미세')['App_자동차'].agg([np.mean, np.std, np.median])

          mean       std  median
미세미세
0.0   0.336944  1.560932     0.0
1.0   0.509773  2.061197     0.0

In [53]:
DA_sb_ed.groupby('sb_ed_target')['Location_Coffee Shop'].agg([np.mean, np.std, np.median])

                  mean       std  median
sb_ed_target
0             1.246065  2.639462     0.0
1             4.738839  5.729636     3.0
2             3.724826  5.206072     2.0
3             3.135802  6.021092     1.0

In [54]:
DA_sb_ed.groupby('sb_ed_target')['PS_sex'].value_counts()

sb_ed_target  PS_sex
0             2         4060
              1         3373
1             2          383
              1           65
2             2          865
              1          287
3             2          536
              1          112
Name: PS_sex, dtype: int64

In [56]:
DA_sb_ed.groupby('sb_ed_target')['App_해피포인트'].agg([np.mean, np.std, np.median])

                  mean       std  median
sb_ed_target
0             1.921566  3.283174     0.0
1             5.598214  3.979162     6.0
2             3.594618  3.827252     2.0
3             4.492284  4.052584     4.0

In [57]:
DA_sb_ed.groupby('sb_ed_target')['PS_education'].agg([np.mean, np.std, np.median])

                  mean       std  median
sb_ed_target
0             3.374008  1.238307     4.0
1             3.886161  0.945014     4.0
2             3.983507  0.975230     4.0
3             3.618827  1.081566     4.0

In [58]:
DA_sb_ed.groupby('sb_ed_target')['PS_BirthYear'].agg([np.mean, np.std, np.median])

                     mean        std  median
sb_ed_target
0             1982.893852  11.220412  1982.0
1             1983.513393   6.794839  1983.5
2             1984.398438   7.070338  1985.0
3             1983.189815   8.076111  1983.0

In [59]:
DA_sb_ed.groupby('sb_ed_target')['App_금융'].agg([np.mean, np.std, np.median])

                   mean        std  median
sb_ed_target
0             41.666756  32.608772    35.0
1             75.044643  43.221533    69.5
2             61.202257  34.270375    56.0
3             58.334877  38.246624    51.0

In [60]:
DA_sb_ed.groupby('sb_ed_target')['App_Instagram'].agg([np.mean, np.std, np.median])

                  mean       std  median
sb_ed_target
0             3.402529  4.316677     0.0
1             5.229911  4.659627     6.0
2             5.452257  4.554275     7.0
3             3.913580  4.501616     0.0

In [61]:
DA_sb_ed.groupby('sb_ed_target')['App_여행 및 지역정보'].agg([np.mean, np.std, np.median])

                   mean        std  median
sb_ed_target
0              8.003498   9.077482     5.0
1             14.995536  13.191075    12.0
2             14.579861  13.572045    11.0
3             10.868827  11.267566     9.0

In [63]:
DA_sb_ed.groupby('sb_ed_target')['App_메가박스'].agg([np.mean, np.std, np.median])

                  mean       std  median
sb_ed_target
0             0.266245  1.137133     0.0
1             0.772321  1.845714     0.0
2             0.671007  1.775475     0.0
3             0.503086  1.647439     0.0

In [64]:
DA_sb_ed.groupby('sb_ed_target')['App_티몬'].agg([np.mean, np.std, np.median])

                  mean       std  median
sb_ed_target
0             2.142876  3.598197     0.0
1             5.450893  4.449799     7.0
2             3.558160  4.169946     1.0
3             4.345679  4.426729     3.0

In [65]:
DA_sb_ed.groupby('sb_ed_target')['App_Samsung Pay'].agg([np.mean, np.std, np.median])

                  mean       std  median
sb_ed_target
0             3.365398  4.134928     1.0
1             5.616071  4.419796     8.0
2             5.145833  4.471310     6.0
3             3.700617  4.199787     1.0

In [66]:
DA_sb_ed.groupby('sb_ed_target')['App_total_usage_time'].agg([np.mean, np.std, np.median])

                    mean         std     median
sb_ed_target
0             123.534372  140.895507  77.077524
1              96.780298   94.232396  60.720071
2              98.790474  107.475554  61.170937
3             121.473765  134.543756  71.750728

In [68]:
DA_sb_ed.groupby('sb_ed_target')['App_기프티콘'].agg([np.mean, np.std, np.median])

                  mean       std  median
sb_ed_target
0             0.167900  0.889665     0.0
1             1.323661  2.690637     0.0
2             0.434028  1.455087     0.0
3             0.604938  1.855217     0.0