<br>
<br>
<br>
# 연관규칙분석 - 공생앱과 경쟁앱
<br>

---

In [1]:
import pandas as pd
import numpy as np
pd.set_option('max_columns',50)
pd.set_option('max_rows',100)

import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.font_manager as fm
import seaborn as sns
sns.set() 
%matplotlib inline 
%config InlineBackend.figure_format = 'retina' 
sns.set_style(style='white')
sns.set_context(context ='paper')

import datetime
import os

In [2]:
DA_Location = pd.read_csv('DA_target_location.csv')
DA_App = pd.read_csv('DA_target_app.csv')
DA_PS = pd.read_csv('DA_target_PS.csv')
DA_usage_time = pd.read_csv('DA_timetype_sum.csv')

AR_App = pd.read_csv('AR_target_app.csv')

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (464,901,903,907,916,918,920,922,924,926,928,931,947) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
DA_Location.head()

,pid,Location_CU,Location_GS25,Location_KFC,Location_THE FACE SHOP,Location_UNIQLO,Location_다이소,Location_던킨도너츠,Location_뚜레쥬르,Location_롯데리아,Location_맘스터치,Location_매표소/로비/휴게소,Location_맥도날드,Location_배스킨라빈스,Location_버거킹,Location_분당선,Location_빽다방,Location_서울5호선,Location_설빙,Location_세븐일레븐,Location_스타벅스,Location_엔제리너스,Location_올리브영,Location_이디야,Location_투썸플레이스,...,Location_Drug Store,Location_Others(Bakery/Dessert),Location_Others(Others),Location_Bookstore,Location_Bar,Location_Dental Clinic,Location_Stationery Shop,Location_Real Estate Agency,Location_Shoe Store,Location_Electronics Shop,Location_General Hospital,Location_Pizza,Location_Karaoke,Location_Main_city,Location_City_count,Location_floor,Location_lat,Location_lng,Location_count,Location_min,Location_max,Location_diff,Location_min_month,Location_max_month,Location_count_diff_ratio
0,A0002542,5.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,경기,2.0,0.541667,37.468860,127.091184,24.0,2018-05-29,2018-06-29,31.0,2018-05,2018-06,0.800000
1,A0003204,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,인천,3.0,0.727273,37.480777,126.726113,22.0,2018-05-01,2018-07-01,61.0,2018-05,2018-07,0.400000
2,A0003696,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,서울,1.0,1.000000,37.606263,127.031478,2.0,2018-05-30,2018-05-30,0.0,2018-05,2018-05,inf
3,A0003768,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,경기,1.0,2.277778,37.265267,127.050818,18.0,2018-05-01,2018-06-24,54.0,2018-05,2018-06,0.300000
4,A0008228,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,대전,2.0,-0.062500,36.485481,127.318642,16.0,2018-05-04,2018-07-01,58.0,2018-05,2018-07,0.300000

In [4]:
del DA_Location['Location_min']
del DA_Location['Location_max']
del DA_Location['Location_min_month']
del DA_Location['Location_max_month']

DA_main_city = pd.get_dummies(DA_Location['Location_Main_city'], prefix='Location_')

DA_Location = pd.concat([DA_Location,DA_main_city], axis=1)
del DA_Location['Location_Main_city']

In [5]:
new_columns = ['pid']

for col in DA_App.columns[1:] :
    new_col = "App_" + col
    new_columns.append(new_col)
    
DA_App.columns = new_columns

In [6]:
# 범주형 변수 없음

DA_App.head()

,pid,App_app_counted,App_app_count_mean,App_app_counted_gap,App_total_usage_time,App_N,App_건강/운동,App_교육,App_금융,App_날씨,App_뉴스/잡지,App_단어,App_데이트,App_도구,App_도서/참고자료,App_동영상 플레이어/편집기,App_라이브러리/데모,App_라이프스타일,App_롤플레잉,App_만화,App_맞춤 설정,App_보드,App_부동산/홈 인테리어,App_뷰티,App_비즈니스,...,App_틸리언,App_패널나우,App_패널락,App_패널파워,App_포토,App_핀크,App_핑크다이어리,App_하나1Q페이,App_하나멤버스,App_하나카드,App_하이마트,App_한컴오피스 viewer,App_해피머니,App_해피스크린,App_해피포인트,App_허니스크린,App_현대Hmall,App_현대카드,App_현대해상,App_홈&쇼핑,App_홈쇼핑모아,App_홈플러스,App_화해,App_후스콜,App_후후
0,A0002542,52,36.9,10.0,77.487152,22.0,0.0,0.0,91.0,0.0,2.0,0.0,0.0,35.0,0.0,10.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,...,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
1,A0003204,59,30.2,20.0,157.791687,3.0,13.0,0.0,45.0,0.0,0.0,0.0,0.0,18.0,11.0,18.0,0.0,29.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0
2,A0003696,113,70.5,40.0,85.990252,10.0,0.0,34.0,71.0,12.0,10.0,0.0,0.0,50.0,34.0,11.0,0.0,171.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,10.0,0.0,0.0,6.0,7.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0
3,A0003768,74,28.5,40.0,51.288383,1.0,1.0,0.0,55.0,0.0,0.0,0.0,0.0,18.0,0.0,1.0,0.0,64.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,7.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0
4,A0008228,98,53.9,40.0,243.321904,16.0,0.0,4.0,59.0,0.0,0.0,0.0,0.0,27.0,65.0,10.0,0.0,137.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,...,0.0,6.0,6.0,9.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,9.0,10.0,0.0,0.0,0.0,0.0

In [7]:
del DA_PS['Unnamed: 0']

new_columns = ['pid']

for col in DA_PS.columns[1:] :
    new_col = "PS_" + col
    new_columns.append(new_col)
    
DA_PS.columns = new_columns

In [8]:
# 컬럼 수가 너무 많은거같은데 필요한 컬럼만 남기고 좀 줄여줘도 좋을것같음!

DA_PS.head()

,pid,PS_Ins_date,PS_BirthYear,PS_wedding,PS_sido,PS_area_group,PS_ps_banner,PS_sex,PS_v54_1,PS_v54_2,PS_v54_3,PS_v54_4,PS_v54_5,PS_v54_6,PS_v60,PS_v61_1,PS_v61_2,PS_v61_3,PS_v61_4,PS_v61_5,PS_v61_6,PS_v61_7,PS_v61_8,PS_v61_9,PS_v61_10,...,PS_v33,PS_v34,PS_v35,PS_v36,PS_v37,PS_v38,PS_v39,PS_v40,PS_v41,PS_v42,PS_v43,PS_v44,PS_v45_1,PS_v45_2,PS_v45_3,PS_v45_4,PS_v45_5,PS_v45_6,PS_v45_7,PS_v45_8,PS_v45_9,PS_v45_10,PS_v45_11,PS_v45_99,PS_v46
0,A0000910,2017-05-03 14:44:51.387,1968,1,8,1,NaN,1,NaN,NaN,NaN,1.0,1.0,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,NaN,3.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A0001355,2017-05-18 17:24:50.343,1973,2,1,1,NaN,2,NaN,NaN,NaN,NaN,NaN,1.0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A0002394,2017-09-12 17:26:11.730,1958,1,1,1,1.0,2,NaN,NaN,NaN,NaN,NaN,NaN,1,1.0,NaN,3.0,4.0,NaN,NaN,NaN,8.0,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A0002542,2017-04-26 17:21:08.350,1968,1,8,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A0003204,2018-02-19 21:12:07.370,1979,1,4,1,NaN,2,NaN,NaN,NaN,1.0,NaN,NaN,1,1.0,NaN,3.0,4.0,5.0,6.0,NaN,8.0,9.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
DA_PS = DA_PS[['pid',
 'PS_Ins_date',
 'PS_BirthYear',
 'PS_wedding',
 'PS_sido',
 'PS_area_group',
 'PS_ps_banner',
 'PS_sex','PS_phone_type',
 'PS_phone_buy_year',
 'PS_phone_buy_month',
 'PS_phone_company',
 'PS_phone_samsung',
 'PS_phone_lg',
 'PS_phone_apple',
 'PS_income',
 'PS_home_form',
 'PS_home_own',
 'PS_education',
 'PS_family_female',
 'PS_famile_male',
 'PS_family_00s',
 'PS_family_10s',
 'PS_family_20s',
 'PS_family_30s',
 'PS_family_40s',
 'PS_family_50s',
 'PS_family_60s',
 'PS_family_70s',
 'PS_age',
 'PS_ins_year',
 'PS_ins_month',
 'PS_ins_day',
 'PS_full_date',
 'PS_family_num',
 'PS_job']]

del DA_PS['PS_Ins_date']
del DA_PS['PS_full_date']

In [10]:
DA_PS.head()

,pid,PS_BirthYear,PS_wedding,PS_sido,PS_area_group,PS_ps_banner,PS_sex,PS_phone_type,PS_phone_buy_year,PS_phone_buy_month,PS_phone_company,PS_phone_samsung,PS_phone_lg,PS_phone_apple,PS_income,PS_home_form,PS_home_own,PS_education,PS_family_female,PS_famile_male,PS_family_00s,PS_family_10s,PS_family_20s,PS_family_30s,PS_family_40s,PS_family_50s,PS_family_60s,PS_family_70s,PS_age,PS_ins_year,PS_ins_month,PS_ins_day,PS_family_num,PS_job
0,A0000910,1968,1,8,1,NaN,1,2,2014.0,9.0,1.0,97.0,NaN,NaN,4,2.0,1,4.0,4,0,0,1,2,0,0,1,0,4,51.0,2017,5,3,4,6
1,A0001355,1973,2,1,1,NaN,2,2,2016.0,8.0,2.0,NaN,13.0,NaN,4,5.0,1,4.0,2,2,0,0,0,0,2,0,0,4,46.0,2017,5,18,4,6
2,A0002394,1958,1,1,1,1.0,2,2,2016.0,8.0,1.0,12.0,NaN,NaN,6,2.0,1,2.0,0,2,0,0,0,1,0,0,1,1,61.0,2017,9,12,2,11
3,A0002542,1968,1,8,1,NaN,1,2,2016.0,2.0,1.0,97.0,NaN,NaN,4,2.0,1,4.0,2,1,0,0,2,0,1,0,0,3,51.0,2017,4,26,3,9
4,A0003204,1979,1,4,1,NaN,2,2,2016.0,11.0,1.0,11.0,NaN,NaN,3,4.0,3,2.0,0,2,0,1,0,0,1,0,0,2,40.0,2018,2,19,2,11

In [16]:
DA_usage_time.head()

,panel_id,app_name,33,34,35,36,37,38,39,40,41,42,usage_mean,usage_std
0,A0000910,AhnLab V3 Mobile Plus 2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,NaN,NaN,17.000000,0.000000
1,A0000910,BAND,4.0,58.0,43.0,24.0,NaN,39.0,39.0,54.0,2.0,NaN,32.875000,19.751187
2,A0000910,Chrome,32.0,24.0,16.0,23.0,NaN,16.0,40.0,9.0,27.0,NaN,23.375000,9.218697
3,A0000910,Cyworld,NaN,32.0,8.0,NaN,NaN,NaN,NaN,NaN,55.0,NaN,31.666667,19.189117
4,A0000910,Excel,NaN,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.000000,0.000000

In [22]:
# del DA_usage_time['Unnamed: 0']
DA_usage_time['usage_mean'] = DA_usage_time[['33', '34', '35', '36', '37', '38', '39', '40',
       '41', '42']].apply(np.mean, axis=1)
DA_usage_time['usage_std'] = DA_usage_time[['33', '34', '35', '36', '37', '38', '39', '40',
       '41', '42']].apply(np.std, axis=1)

In [23]:
DA_usage_mean = DA_usage_time[['panel_id','app_name','usage_mean']]
DA_usage_mean = DA_usage_mean.set_index(['panel_id','app_name']).unstack().reset_index()
DA_usage_mean.columns = DA_usage_mean.columns.droplevel()
DA_usage_mean = DA_usage_mean.rename(columns={'':'pid'})

new_columns = ['pid']

for col in DA_usage_mean.columns[1:] :
    new_col = "Mean_" + col
    new_columns.append(new_col)
    
DA_usage_mean.columns = new_columns

DA_usage_mean = DA_usage_mean.fillna(0)

In [24]:
DA_usage_mean.head()

,pid,Mean_11번가,Mean_4shared,Mean_AfreecaTV,Mean_AhnLab V3 Mobile Plus 2.0,Mean_AhnLab V3 Mobile Security,Mean_B612,Mean_BAND,Mean_CGV,Mean_CJ ONE,Mean_CJmall,Mean_CJ대한통운 택배,Mean_CJ온마트,Mean_CLiP,Mean_Chrome,Mean_Clean Master,Mean_Cyworld,Mean_Excel,Mean_Facebook,Mean_Foodie,Mean_GS SHOP,Mean_GS&POINT,Mean_Gmail,Mean_Google,Mean_Google Play 게임,...,Mean_틸리언,Mean_패널나우,Mean_패널락,Mean_패널파워,Mean_포토,Mean_핀크,Mean_핑크다이어리,Mean_하나1Q페이,Mean_하나멤버스,Mean_하나카드,Mean_하이마트,Mean_한컴오피스 viewer,Mean_해피머니,Mean_해피스크린,Mean_해피포인트,Mean_허니스크린,Mean_현대Hmall,Mean_현대카드,Mean_현대해상,Mean_홈&쇼핑,Mean_홈쇼핑모아,Mean_홈플러스,Mean_화해,Mean_후스콜,Mean_후후
0,A0000910,0.000000,0.0,0.0,17.0,0.0,0.0,32.875,0.000000,0.000000,0.0,0.0,0.0,0.0,23.375,0.000000,31.666667,36.0,28.25,0.0,0.0,25.0,21.0,3.666667,0.0,...,20.25,39.5,20.0,17.125000,6.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
1,A0001355,0.000000,0.0,0.0,0.0,0.0,0.0,0.000,0.000000,0.000000,0.0,0.0,0.0,0.0,8.000,0.000000,0.000000,0.0,0.00,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.00,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
2,A0002394,15.857143,0.0,0.0,0.0,0.0,0.0,0.000,39.666667,17.444444,5.0,0.0,0.0,0.0,0.000,32.222222,0.000000,0.0,0.00,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.00,0.0,0.0,18.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.111111,0.0,0.0,0.0,0.0,28.333333,0.0,25.0,0.0,0.0,0.0
3,A0002542,0.000000,0.0,0.0,2.0,0.0,0.0,31.300,0.000000,0.000000,0.0,0.0,0.0,0.0,10.000,0.000000,0.000000,0.0,39.00,0.0,0.0,0.0,0.0,36.428571,0.0,...,0.00,0.0,0.0,22.571429,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,46.2,0.0
4,A0003204,27.714286,0.0,0.0,0.0,0.0,0.0,0.000,14.000000,0.000000,0.0,0.0,0.0,0.0,0.000,0.000000,0.000000,0.0,0.00,0.0,0.0,0.0,0.0,21.333333,6.5,...,0.00,0.0,0.0,30.500000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,24.5,0.0,4.500000,0.0,0.0,0.0,0.0,0.0

In [25]:
DA_usage_std = DA_usage_time[['panel_id','app_name','usage_std']]
DA_usage_std = DA_usage_std.set_index(['panel_id','app_name']).unstack().reset_index()
DA_usage_std.columns = DA_usage_std.columns.droplevel()
DA_usage_std = DA_usage_std.rename(columns={'':'pid'})

new_columns = ['pid']

for col in DA_usage_std.columns[1:] :
    new_col = "Std_" + col
    new_columns.append(new_col)
    
DA_usage_std.columns = new_columns

DA_usage_std = DA_usage_std.fillna(0)

In [26]:
DA_usage_std.head()

,pid,Std_11번가,Std_4shared,Std_AfreecaTV,Std_AhnLab V3 Mobile Plus 2.0,Std_AhnLab V3 Mobile Security,Std_B612,Std_BAND,Std_CGV,Std_CJ ONE,Std_CJmall,Std_CJ대한통운 택배,Std_CJ온마트,Std_CLiP,Std_Chrome,Std_Clean Master,Std_Cyworld,Std_Excel,Std_Facebook,Std_Foodie,Std_GS SHOP,Std_GS&POINT,Std_Gmail,Std_Google,Std_Google Play 게임,...,Std_틸리언,Std_패널나우,Std_패널락,Std_패널파워,Std_포토,Std_핀크,Std_핑크다이어리,Std_하나1Q페이,Std_하나멤버스,Std_하나카드,Std_하이마트,Std_한컴오피스 viewer,Std_해피머니,Std_해피스크린,Std_해피포인트,Std_허니스크린,Std_현대Hmall,Std_현대카드,Std_현대해상,Std_홈&쇼핑,Std_홈쇼핑모아,Std_홈플러스,Std_화해,Std_후스콜,Std_후후
0,A0000910,0.000000,0.0,0.0,0.000000,0.0,0.0,19.751187,0.000000,0.000000,0.0,0.0,0.0,0.0,9.218697,0.000000,19.189117,0.0,17.093493,0.0,0.0,18.82817,0.0,0.942809,0.0,...,11.551515,13.744696,15.318834,14.529603,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0
1,A0001355,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.00000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0
2,A0002394,17.666988,0.0,0.0,0.000000,0.0,0.0,0.000000,6.236096,11.662962,0.0,0.0,0.0,0.0,0.000000,16.074671,0.000000,0.0,0.000000,0.0,0.0,0.00000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,13.379088,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.673363,0.0,0.0,0.0,0.0,18.624953,0.0,14.667749,0.0,0.000000,0.0
3,A0002542,0.000000,0.0,0.0,0.894427,0.0,0.0,16.211416,0.000000,0.000000,0.0,0.0,0.0,0.0,4.000000,0.000000,0.000000,0.0,12.992305,0.0,0.0,0.00000,0.0,12.860317,0.0,...,0.000000,0.000000,0.000000,15.900199,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,8.749857,0.0
4,A0003204,14.389622,0.0,0.0,0.000000,0.0,0.0,0.000000,9.411239,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.00000,0.0,26.637484,0.5,...,0.000000,0.000000,0.000000,19.697716,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,21.5,0.0,3.316625,0.0,0.000000,0.0,0.000000,0.0

In [27]:
DA_final = (
DA_Location.merge(DA_App, how='left', on='pid')
    .merge(DA_PS, how='left', on='pid')
    .merge(DA_usage_mean, how='left', on='pid')
    .merge(DA_usage_std, how='left', on='pid')
)

In [28]:
# 분류기 만들때 쓸 변수들!
# 여기에 목적 앱 바이너리 컬럼을 붙이고, 그걸 이 데이터를 통해 맞추는 식으로 하면 된다!
# app 변수 목록에 타겟 앱이 없도록 주의!
# 예륻 들어 스타벅스의 경우 app_스타벅스를 빼고, AR_App의 스타벅스 컬럼을 타겟으로 분류기 만들면 됨

DA_final.head()

,pid,Location_CU,Location_GS25,Location_KFC,Location_THE FACE SHOP,Location_UNIQLO,Location_다이소,Location_던킨도너츠,Location_뚜레쥬르,Location_롯데리아,Location_맘스터치,Location_매표소/로비/휴게소,Location_맥도날드,Location_배스킨라빈스,Location_버거킹,Location_분당선,Location_빽다방,Location_서울5호선,Location_설빙,Location_세븐일레븐,Location_스타벅스,Location_엔제리너스,Location_올리브영,Location_이디야,Location_투썸플레이스,...,Std_틸리언,Std_패널나우,Std_패널락,Std_패널파워,Std_포토,Std_핀크,Std_핑크다이어리,Std_하나1Q페이,Std_하나멤버스,Std_하나카드,Std_하이마트,Std_한컴오피스 viewer,Std_해피머니,Std_해피스크린,Std_해피포인트,Std_허니스크린,Std_현대Hmall,Std_현대카드,Std_현대해상,Std_홈&쇼핑,Std_홈쇼핑모아,Std_홈플러스,Std_화해,Std_후스콜,Std_후후
0,A0002542,5.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,15.900199,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,8.749857,0.0
1,A0003204,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,19.697716,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,21.5,0.0,3.316625,0.000000,0.000000,0.0,0.000000,0.0
2,A0003696,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,18.5,0.000000,0.000000,10.935416,12.947303,0.0,0.0,0.0,16.174362,0.0,0.0,0.0,0.000000,0.0,13.146863,0.0,0.000000,0.0,0.0,0.000000,0.000000,13.355149,0.0,0.000000,0.0
3,A0003768,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,17.878273,0.000000,0.0,0.0,0.0,16.000000,0.0,0.0,0.0,11.807988,0.0,18.193405,0.0,0.000000,0.0,0.0,0.000000,0.000000,18.330303,0.0,0.000000,0.0
4,A0008228,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,14.372041,10.673175,19.185900,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,14.371173,0.0,0.0,18.237798,3.039737,0.000000,0.0,0.000000,0.0

In [ ]:
DA_final.to_csv("DA_final.csv", index=False)

In [ ]:
len(DA_final)

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

In [ ]:
freq_HB = AR_App[['panel_id','올리브영','롭스']]

In [ ]:
freq_HB.head()

In [ ]:
# 이미 알지만 freq check

freq_HB.sum()

In [ ]:
freq_HB['둘다'] = (freq_HB['올리브영'] + freq_HB['롭스']).map(lambda x: 0 if x<2 else 1)
freq_HB['올리브영만'] = (freq_HB['올리브영'] - freq_HB['둘다']).map(lambda x: 0 if x<1 else 2)
freq_HB['롭스만'] = (freq_HB['롭스'] - freq_HB['둘다']).map(lambda x: 0 if x<1 else 3)
freq_HB['hb_target'] = (freq_HB['둘다'] + freq_HB['올리브영만'] + freq_HB['롭스만'])

freq_HB = freq_HB[['panel_id', 'hb_target']]

In [ ]:
del DA_final['App_올리브영']
del DA_final['App_롭스']
del DA_final['Mean_올리브영']
del DA_final['Mean_롭스']
del DA_final['Std_올리브영']
del DA_final['Std_롭스']

In [ ]:
DA_HB = freq_HB.merge(DA_final, how='left', left_on='panel_id', right_on='pid')

In [ ]:
del DA_HB['panel_id']
del DA_HB['pid']

In [ ]:
DA_HB.head()

In [ ]:
DA_HB['hb_target'].value_counts()

In [ ]:
cat_col = ['PS_wedding', 'PS_sido', 'PS_area_group',
       'PS_ps_banner', 'PS_sex', 'PS_phone_type',
       'PS_phone_buy_month', 'PS_phone_company', 'PS_phone_samsung',
       'PS_phone_lg', 'PS_phone_apple', 'PS_home_form',
       'PS_home_own']

column_dict = pd.DataFrame(DA_HB.columns).reset_index().rename(columns={'index':'feature_number', 0:'feature'})
num_cat_col = list(column_dict[lambda x: x['feature'].isin(cat_col)]['feature_number'])

In [ ]:
column_dict[lambda x: x['feature'].isin(cat_col)]

In [ ]:

DA_HB[['PS_wedding', 'PS_sido', 'PS_area_group',
       'PS_ps_banner', 'PS_sex', 'PS_phone_type',
       'PS_phone_buy_month', 'PS_phone_company', 'PS_phone_samsung',
       'PS_phone_lg', 'PS_phone_apple', 'PS_home_form',
       'PS_home_own']] = \
DA_HB[['PS_wedding', 'PS_sido', 'PS_area_group',
       'PS_ps_banner', 'PS_sex', 'PS_phone_type',
       'PS_phone_buy_month', 'PS_phone_company', 'PS_phone_samsung',
       'PS_phone_lg', 'PS_phone_apple', 'PS_home_form',
       'PS_home_own']].fillna(0).applymap(lambda x: str(int(x)))

In [ ]:
DA_HB[['PS_wedding', 'PS_sido', 'PS_area_group',
       'PS_ps_banner', 'PS_sex', 'PS_phone_type',
       'PS_phone_buy_month', 'PS_phone_company', 'PS_phone_samsung',
       'PS_phone_lg', 'PS_phone_apple', 'PS_home_form',
       'PS_home_own']].isnull().sum()

In [ ]:
DA_HB = DA_HB.fillna(0)

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

In [ ]:
import pandas as pd
import numpy as np 
from sklearn import preprocessing
from sklearn.cross_validation import cross_val_score, train_test_split

# Models for Classification
# from xgboost import XGBClassifier
from catboost import CatBoostClassifier
# from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
# from lightgbm import LGBMClassifier

In [ ]:
from sklearn import pipeline, metrics
from sklearn.utils import shuffle

from sklearn.metrics import auc, f1_score, accuracy_score, log_loss
my_scorer = metrics.make_scorer(auc, greater_is_better = True)

In [ ]:
DA_HB.head()

In [ ]:
features = DA_HB.columns[1:]

In [ ]:
cbc = CatBoostClassifier(
 learning_rate =0.1,
 iterations=200,
 loss_function='MultiClass'
)

In [ ]:
num_cat_col

In [ ]:
cbc.fit(DA_HB[features], DA_HB['hb_target'], cat_features = num_cat_col)

In [ ]:
cbc.score(DA_HB[features], DA_HB['hb_target'])

In [ ]:
from catboost import Pool
p = Pool(DA_HB[features], DA_HB['hb_target'], cat_features = num_cat_col)

In [ ]:
cbc.get_feature_importance(p)

In [ ]:
cbc.eval_metrics(p, metrics = ['Accuracy','AUC'])

In [ ]:
len(features)

In [ ]:
len(cbc.get_feature_importance(p))

In [ ]:
books_HB = pd.DataFrame(features)
books_HB['importance'] = cbc.get_feature_importance(p)
books_HB = books_HB.rename(columns={0:'feature'})

In [ ]:
books_HB.sort_values(by='importance', ascending=False)

In [ ]:
DA_HB.groupby('hb_target')['App_쇼핑'].agg([np.mean, np.std, np.median])

In [ ]:
DA_HB.groupby('hb_target')['PS_sex'].value_counts()

In [ ]:
DA_HB.groupby('hb_target')['Mean_CJ ONE'].agg([np.mean, np.std, np.median])

In [ ]:
DA_HB.groupby('hb_target')['App_뷰티'].agg([np.mean, np.std, np.median])

In [ ]:
DA_HB.groupby('hb_target')['App_CJ ONE'].agg([np.mean, np.std, np.median])

In [ ]:
DA_HB.groupby('hb_target')['App_리브메이트'].agg([np.mean, np.std, np.median])

In [ ]:
DA_HB.groupby('hb_target')['App_app_count_mean'].agg([np.mean, np.std, np.median])

In [ ]:
DA_HB.groupby('hb_target')['Std_CJ ONE'].agg([np.mean, np.std, np.median])

In [ ]:
DA_HB.groupby('hb_target')['App_L.POINT'].agg([np.mean, np.std, np.median])

In [ ]:
DA_HB.groupby('hb_target')['PS_age'].agg([np.mean, np.std, np.median])

In [ ]:
DA_HB.groupby('hb_target')['Std_Melon'].agg([np.mean, np.std, np.median])