In [2]:
import pandas as pd
import seaborn as sns
sns.set() 
%matplotlib inline 
pd.set_option('max_columns',999)

In [ ]:
# PAYMENT
pay_data = pd.read_csv("data//PANEL//PAYMENT data.csv", engine = "python")
pay_brand = pd.read_csv("data//PANEL//PAYMENT Summary_Brand.csv", engine = "python")
pay_cat = pd.read_csv("data//PANEL//PAYMENT Summary_Brand.csv", engine = "python")
pay_total = pd.read_csv("data//PANEL//PAYMENT Summary_Total.csv", engine = "python")

In [ ]:
# PPDB
DATA = pd.read_csv("data//PANEL//PPDB data.csv", engine = "python")

In [ ]:
# APP
app_time = pd.read_csv("data//PANEL//APP Refine_AppTime.csv", engine = "python")
app_cat_g = pd.read_csv("data//PANEL//APP Refine_CategoryTime_G.csv", engine = "python")
app_cat_mme = pd.read_csv("data//PANEL//APP Refine_CategoryTime_MME.csv", engine = "python")
app_sum_time = pd.read_csv("data//PANEL//APP Refine_Usage_Sum_Time.csv", engine = "python")

---

# column 만들기


## PAYMENT 데이터 column 만들기

In [5]:
pay_data.head()

,SMS_ID,USER_ID,PANEL_ID,USER_SMSDATE_PRICE,gender,age,Area_Code1,Area_Code2,Area_Name1,Area_Name2,APPROVAL_TYPE,CATEGORY_CODE,CATEGORY_GROUP_CODE,LATITUDE,LONGITUDE,SMS_REGISTRATION_MONTH,SMS_REGISTRATION_DATE,SMS_REGISTRATION_TIME,COMPANY_NAME,APPROVAL_PRICE,APPROVAL_STORE,COMPANY_CODE,CARD_PAYMENT_TYPE,CARD_NAME,APPROVAL_DATE,APPROVAL_TIME,APPROVAL_METHOD,IS_FROM,APPROVAL_REAL_PRICE,PRICE,SMS_REGISTRATION_TIMESTAMP,REGISTRATION_TIMESTAMP,ORIGIN_TABLE
0,PIS05154103305739058738013789419,UI005153266219857515676825788555,H0041987,UI005153266219857515676825788555_20181101_594975,1,52,11,20,서울특별시,도봉구,LT01,1101,NaN,37.5258806,127.1076989,201811,20181101,94416,롯데카드,594975.0,서울아산병원,PA00004,PA,NaN,NaN,NaN,0,P,594975,594975,44:16.0,44:17.0,Payment_EasyPay
1,PIS05154103311615958743890759335,UI005153664867155127812366951373,H0130832,UI005153664867155127812366951373_20181101_15000,1,36,13,12,대구광역시,달서구,LD,1799,NaN,OFF,OFF,201811,20181101,94512,카카오뱅크,15000.0,천재영,BK00023,PBK,9451,1101.0,945.0,0,P,15000,15000,45:12.0,45:15.0,Payment_DepositWithdrawal
2,PIS05154103359832658792107402482,UI005153275527234916609532861198,H0186498,UI005153275527234916609532861198_20181101_52000,2,45,11,31,서울특별시,용산구,LW,1799,NaN,37.532675,126.9906572,201811,20181101,95317,카카오뱅크,52000.0,김순자,BK00023,PBK,6108,1101.0,953.0,0,P,52000,52000,53:17.0,53:18.0,Payment_DepositWithdrawal
3,PIS05154103390934758823209490613,UI005153266710072315725847263145,P0251701,UI005153266710072315725847263145_20181101_13846,1,31,17,12,울산광역시,동구,LW,1799,NaN,35.5225842,129.4303004,201811,20181101,95829,케이뱅크은행,13846.0,전성권,BK00022,PBK,100-***-690002,1101.0,954.0,0,P,13846,13846,58:29.0,58:29.0,Payment_DepositWithdrawal
4,PIS05154103417846758850121518248,UI005153269019193215956759352714,H0199100,UI005153269019193215956759352714_20181101_5000,1,37,18,20,경기도,김포시,LA,1001,256.0,37.601393,126.7193963,201811,20181101,100257,케이뱅크은행,5000.0,교보문고,BK00022,PCK,3134,1101.0,1002.0,0,P,5000,5000,02:57.0,02:58.0,Payment_DepositWithdrawal

In [6]:
# pay_data 컬럼 확인

print("pay_data column length :",len(pay_data.columns))

pay_data.columns

pay_data column length : 33

Index(['SMS_ID', 'USER_ID', 'PANEL_ID', 'USER_SMSDATE_PRICE', 'gender', 'age',
       'Area_Code1', 'Area_Code2', 'Area_Name1', 'Area_Name2', 'APPROVAL_TYPE',
       'CATEGORY_CODE', 'CATEGORY_GROUP_CODE', 'LATITUDE', 'LONGITUDE',
       'SMS_REGISTRATION_MONTH', 'SMS_REGISTRATION_DATE',
       'SMS_REGISTRATION_TIME', 'COMPANY_NAME', 'APPROVAL_PRICE',
       'APPROVAL_STORE', 'COMPANY_CODE', 'CARD_PAYMENT_TYPE', 'CARD_NAME',
       'APPROVAL_DATE', 'APPROVAL_TIME', 'APPROVAL_METHOD', 'IS_FROM',
       'APPROVAL_REAL_PRICE', 'PRICE', 'SMS_REGISTRATION_TIMESTAMP',
       'REGISTRATION_TIMESTAMP', 'ORIGIN_TABLE'],
      dtype='object')

In [7]:
# Area_Name1, Area_Code1 1대1 대응 표
# Area_Code1에는 null 값 없음

pay_data_area_name_1 = pay_data.groupby(["Area_Name1", "Area_Code1"]).count()\
    .reset_index()[["Area_Name1", "Area_Code1"]].set_index("Area_Code1").T
pay_data_area_name_1

Area_Code1,19,18,25,24,15,13,16,12,11,27,17,14,23,22,26,21,20
Area_Name1,강원도,경기도,경상남도,경상북도,광주광역시,대구광역시,대전광역시,부산광역시,서울특별시,세종특별자치시,울산광역시,인천광역시,전라남도,전라북도,제주특별자치도,충청남도,충청북도

In [8]:
# Area_Name 2, Area_Code2 1대1 대응 표
# Area_Code2에는 null 값 없음

pay_data_area_name_2 = pay_data.groupby(["Area_Name2", "Area_Code2"]).count()\
    .reset_index()[["Area_Name2", "Area_Code2"]].set_index("Area_Code2").T
pay_data_area_name_2

Area_Code2,11,11,12,11,13,11,14,11,11,11,12,11,12,11,12,13,13,12,13,14,11,12,13,12,15,15,16,11,14,17,16,17,18,14,12,15,19,13,12,18,13,13,16,20,14,16,11,12,14,14,21,14,15,19,14,12,12,13,17,15,11,20,12,13,14,15,21,22,16,22,13,23,18,19,15,17,13,16,16,13,18,17,16,17,55,16,13,14,15,18,19,17,20,18,14,19,13,15,16,17,21,11,24,18,19,25,26,27,28,26,27,20,11,15,28,17,22,29,30,31,32,17,21,33,20,21,34,35,36,37,38,16,19,39,29,40,23,41,18,23,42,24,22,24,14,30,25,23,24,25,21,26,43,15,19,18,31,44,45,46,14,28,19,14,32,16,29,47,48,49,19,20,20,27,28,22,23,21,24,12,17,33,15,18,20,25,34,35,18,25,21,19,22,23,24,25,26,27,22,23,22,30,24,20,21,22,23,23,24,32,24,25,28,50,25,51,52,33,34,53,29,30,30,31,26,26,26,54,32,27,28
Area_Name2,가평군,강남구,강동구,강릉시,강북구,강서구,강서구,강진군,강화군,거제시,거창군,경산시,경주시,계룡시,계양구,고령군,고성군,고양시덕양구,고양시일산동구,고양시일산서구,고창군,고흥군,곡성군,공주시,과천시,관악구,광명시,광산구,광양시,광주시,광진구,구로구,구리시,구미시,군산시,군위군,군포시,금산군,금정구,금천구,기장군,김제시,김천시,김포시,김해시,나주시,남구,남구,남구,남동구,남양주시,남원시,남해군,노원구,논산시,단양군,달서구,달성군,담양군,당진시,대덕구,도봉구,동구,동구,동구,동구,동대문구,동두천시,동래구,동작구,동해시,마포구,목포시,무안군,무주군,문경시,미추홀구,밀양시,보령시,보은군,봉화군,부산진구,부안군,부여군,부천시,부평구,북구,북구,북구,북구,사상구,사천시,사하구,산청군,삼척시,상주시,서구,서구,서구,서구,서구,서귀포시,서대문구,서산시,서천군,서초구,성남시분당구,성남시수정구,성남시중원구,성동구,성북구,성주군,세종특별자치시,속초시,송파구,수성구,수영구,수원시권선구,수원시영통구,수원시장안구,수원시팔달구,순창군,순천시,시흥시,아산시,안동시,안산시단원구,안산시상록구,안성시,안양시동안구,안양시만안구,양구군,양산시,양주시,양천구,양평군,여수시,여주시,연수구,연제구,연천군,영광군,영덕군,영도구,영동군,영등포구,영암군,영양군,영주시,영천시,예산군,예천군,오산시,옥천군,옹진군,완주군,용산구,용인시기흥구,용인시수지구,용인시처인구,울주군,울진군,원주시,유성구,은평구,음성군,의성군,의왕시,의정부시,이천시,익산시,인제군,임실군,장성군,장흥군,전주시덕진구,전주시완산구,정선군,정읍시,제주시,제천시,종로구,중구,중구,중구,중구,중구,중랑구,증평군,진안군,진주시,진천군,창녕군,창원시마산합포구,창원시마산회원구,창원시성산구,창원시의창구,창원시진해구,천안시동남구,천안시서북구,철원군,청도군,청양군,청주시상당구,청주시서원구,청주시청원구,청주시흥덕구,춘천시,충주시,칠곡군,태백시,태안군,통영시,파주시,평창군,평택시,포천시,포항시남구,포항시북구,하남시,하동군,함안군,함평군,해남군,해운대구,홍성군,홍천군,화성시,화순군,화천군,횡성군

In [9]:
# Area code, name dictionary 생성

dict_area_1 = pay_data_area_name_1.to_dict()
dict_area_2 = pay_data_area_name_2.to_dict()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  after removing the cwd from sys.path.

In [10]:
a = pay_data.groupby(["PANEL_ID","Area_Name1"]).count()

In [11]:
len(a.reset_index()["PANEL_ID"].unique())

10993

area 관련 변수들은 사는 위치를 표현한다.
<br>null값이 10000개정도로 panel 11만중 거의 10퍼센트가 손실되어 사용하지 않음

In [12]:
# PAY_APPROVAL_TYPE column 만들기

pay_data["PAY_APPROVAL_TYPE"] = pay_data["APPROVAL_TYPE"].apply(lambda x : x[0])

In [13]:
# PAY_CATEGORY_CODE column 만들기

pay_data["PAY_CATEGORY_CODE"] = pay_data["CATEGORY_CODE"]

In [14]:
# PAY_SMS_REGISTRATION_MONTH column 만들기

pay_data["PAY_SMS_REGISTRATION_MONTH"] = pay_data["SMS_REGISTRATION_MONTH"].apply(lambda x: str(x)[-2:])
# 다만 이번 데이터는 모두 11월이다

In [15]:
# PAY_SMS_REGISTRATION_DATA column 만들기

pay_data["PAY_SMS_REGISTRATION_DATE"] = pay_data["SMS_REGISTRATION_DATE"].apply(lambda x: str(x)[-2:])
# 다만 이번 데이터는 모두 11월이다

In [16]:
# PAY_SMS_REGISTRATION_TIME column 만들기
# 시간만 사용

pay_data["PAY_SMS_REGISTRATION_TIME"] = pay_data["SMS_REGISTRATION_TIME"].apply(lambda x: str(x)[:-4])

In [17]:
# PAY_SMS_REGISTRATION_TIME column 만들기

pay_data["PAY_CARD_PAYMENT_TYPE"] = pay_data["CARD_PAYMENT_TYPE"]

In [18]:
# PAY_APPROVAL_METHOD column 만들기
# = 할부개월수

pay_data["PAY_APPROVAL_METHOD"] = pay_data["APPROVAL_METHOD"]

In [19]:
# PAY_APPROVAL_METHOD column 만들기
# = 할부개월수

pay_data["PAY_PRICE"] = pay_data["PRICE"]

# PAYMENT에서 사용할 column들

'PAY_APPROVAL_TYPE', 'PAY_CATEGORY_CODE', 
'PAY_SMS_REGISTRATION_MONTH', 'PAY_SMS_REGISTRATION_DATE',
'PAY_SMS_REGISTRATION_TIME', 'PAY_CARD_PAYMENT_TYPE', 
'PAY_APPROVAL_METHOD', 'PAY_PRICE'